<app-navbar 
    [breadcrumbLink]="PathRoutes.Requests.List"
    [breadcrumbLinkName]="'Requisições'"
    [breadcrumbCurrent]="'Detalhes'"
    >
</app-navbar>
<app-sidebar></app-sidebar>
<div class="main-content pt-2 py-md-7">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10 col-xl-8">
                <div class="header">
                    <div class="header-body">
                        <div class="row align-items-center">
                            <div class="col">
                                <h1 class="header-title mb-3">
                                    Detalhes da requisição
                                </h1>
                            </div>
                            <div class="col-auto" *ngIf="item?.status == 'pendente'" (click)="changeStatus('cancelado')">
                                <button class="btn btn-outline-secondary btn-del">
                                    <span class="fe fe-x mr-2"></span>
                                    Cancelar
                                </button>
                            </div>
                            <div class="col-auto" *ngIf="item?.status == 'pendente'" (click)="changeStatus('concluido')">
                                <button class="btn btn-success">
                                    <span class="fe fe-check mr-2"></span>
                                    Concluir
                                </button>
                            </div>
                            <!-- <div class="col-auto">
                                <a class="btn btn-white" routerLink="{{PathRoutes.Admins.Edit}}/{{id}}">
                                    <span class="fe fe-edit mr-2"></span>
                                    Editar
                                </a>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-12">
                                    <h4>Requisição</h4>
    
                                    </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label class="text-muted">
                                            Estabelecimento
                                        </label>
                                        <input type="text" class="form-control" [value]="item?.establishment.name"
                                            readonly>
                                    </div>
                                </div>
                                <div class="col-2 col-md-6">
                                    <div class="form-group">
                                        <label class="text-muted">Status</label>

<br>

                                            <span class="badge badge-soft-success" *ngIf="item?.status == 'concluido'">
                                              Resgatado <span class="fe fe-check align-middle"></span>
                                            </span>
                                            <span class="badge badge-soft-info" *ngIf="item?.status == 'pendente'">
                                              Pendente <span class="fe fe-credit-card align-middle"></span>
                                            </span>
                        
                                            <span class="badge badge-soft-danger" *ngIf="item?.status == 'cancelado'">
                                              Cancelado <span class="fe fe-credit-card align-middle"></span>
                                            </span>


                                    </div>
                                </div>
                                <div class="col-12 col-md-12">
                                    <div class="form-group">
                                        <label class="text-muted">
                                            Endereço
                                        </label>
                                        <input type="text" class="form-control" [value]="item?.establishment.address_street + ' ' + item?.establishment.address_number + ' - ' + item?.establishment.address_neighborhood + ' - ' + item?.establishment.address_city"
                                        readonly>
                                    </div>
                                </div>

                                <div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <label class="text-muted">
                                            Valor
                                        </label>
                                        <input type="text" class="form-control" [value]="item?.value | currency: 'BRL'"
                                        readonly>
                                    </div>
                                </div>
                               
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <hr>
                                <h4>Banco para deposito</h4>

                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <label class="text-muted">
                                            Banco
                                        </label>
                                        <input type="text" class="form-control" [value]="item?.bank.bank + ' (' + item?.bank.bank_code + ')'"
                                        readonly>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <label class="text-muted">
                                            Agencia
                                        </label>
                                        <input type="text" class="form-control" [value]="item?.bank.agency + (item?.bank.agency_verifier ? '-' : '' )+ (item?.bank.agency_verifier ? item?.bank.agency_verifier : '')"
                                        readonly>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <label class="text-muted">
                                            Conta
                                        </label>
                                        <input type="text" class="form-control" [value]="item?.bank.account_number +'-'+item?.bank.account_verifier"
                                        readonly>
                                    </div>
                                </div>

                                <div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <label class="text-muted">
                                            CPF
                                        </label>
                                        <input type="text" class="form-control" [value]="item?.bank.cpf"
                                        readonly>
                                    </div>
                                </div>

                                <div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <label class="text-muted">
                                            Nome
                                        </label>
                                        <input type="text" class="form-control" [value]="item?.bank.name"
                                        readonly>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>