<div class="container-fluid border-top border-top-3 border-primary">
    <div class="row align-items-center justify-content-center">
        <div class="col-12 col-md-5 col-lg-6 col-xl-4 px-lg-6 my-5">
            <h1 class="display-4 text-center mb-3">
                Esqueci minha senha
            </h1>
            <p class="text-muted text-center mb-5">
                Digite seu email para recadastrar sua senha.
            </p>
            <form [formGroup]="form" (submit)="passwordEmail()">
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" formControlName="email" class="form-control" placeholder="Digite seu email" [ngClass]="{'is-invalid': form.controls.email.touched && form.controls.email.invalid}">
                    <small class="text-danger" *ngIf="form.controls.email.touched && form.controls.email.invalid">Digite seu email</small>
                </div>
                <button class="btn btn-lg btn-block btn-primary mb-3" [disabled]="form.invalid">
                    Enviar
                    <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                </button>
                <div class="text-center">
                    <small class="text-muted text-center">
                        Lembrou de sua senha? <a routerLink="{{PathRoutes.Login}}">Acesse</a>.
                    </small>
                </div>
            </form>
        </div>
        <div class="col-12 col-md-7 col-lg-6 col-xl-8 d-none d-lg-block">
            <div class="bg-cover vh-100 mt-n1 mr-n3" style="background-image: url(assets/img/bg-login.jpeg)"></div>
        </div>
    </div>
</div>