<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<div class="main-content pt-6">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-10">
        <div class="header mt-md-5">
          <div class="header-body">
            <div class="row align-items-center">
              <div class="col-8">
                <h1 *ngIf="type == 'user'" class="header-title">
                  Termos de uso Usuários
                </h1>
                <h1 *ngIf="type == 'provider'" class="header-title">
                  Termos de uso Fornecedores
                </h1>
              </div>
              <div *ngIf="type == 'user'" class="col-4 text-right">
                <a href="http://simplificandoar.com.br/termos-de-uso/usuarios" target="_blank" class="btn btn-warning">Visualizar</a>
              </div>
              <div *ngIf="type == 'provider'" class="col-4 text-right">
                <a href="http://simplificandoar.com.br/termos-de-uso/fornecedores" target="_blank" class="btn btn-warning">Visualizar</a>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-5">

          <div class="card-body">
            <form  [formGroup]="form" (submit)="save()">
              <ckeditor formControlName="terms_of_use" [config]="{uiColor: '#CCCCCC', entities:false, height: '500px'}"
              (change)="onChange($event)" (ready)="onReady($event)" (focus)="onFocus($event)"
              (blur)="onBlur($event)" (fileUploadRequest)="onFileUploadRequest($event)"
              (fileUploadResponse)="onFileUploadResponse($event)" debounce="700">
              {{terms}}
            </ckeditor>
            <div class="row">
              <div class="col-12 mt-6">
                <button [disabled]="loading" type="submit"
                  class="btn btn-primary btn-block btn-lg">
                  <span *ngIf="loading" class="spinner-border spinner-border-sm"
                    role="status" aria-hidden="true"></span>
                  Salvar
                </button>
              </div>
            </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
