<app-navbar [breadcrumbLink]="PathRoutes.Products.List" [breadcrumbLinkName]="'Produtos'"
  [breadcrumbCurrent]="'Detalhes'">
</app-navbar>
<app-sidebar></app-sidebar>
<div class="main-content pt-2 py-md-7">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 col-xl-9">
        <div class="header">
          <div class="header-body">
            <div class="row align-items-center">
              <div class="col">
                <h6 class="header-pretitle">
                </h6>
                <h1 class="header-title">
                  Adicionar vantagem
                </h1>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <form [formGroup]="form" (submit)="save()">
              <div class="row">

                <div class="col-12">
                  <div class="custom-dropzone mb-4" [accept]="'.jpeg,.jpg,.png'" ngx-dropzone [multiple]="false" (change)="onSelect($event)">
                    <ngx-dropzone-label>Arraste a imagem aqui</ngx-dropzone-label>
                    <ngx-dropzone-image-preview *ngIf="form.controls.picture.value" ngProjectAs="ngx-dropzone-preview"
                      [file]="form.controls.picture.value" [removable]="true" (removed)="onRemove()">
                    </ngx-dropzone-image-preview>
                  </div>
                </div>

                <div class="col-12">
                  <div class="form-group">
                    <label class="text-muted">
                      Titulo
                    </label>
                    <input maxlength="30" type="text" formControlName="title" class="form-control">
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <label class="text-muted">
                      Descrição
                    </label>
                    <textarea maxlength="100" class="form-control" formControlName="description" >
                    </textarea>
                  </div>
                </div>

                <div class="col-12 pt-5">
                  <div class="col-12">
                    <button type="submit" class="btn btn-primary d-block btn-block" [disabled]="false">
                      <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status"
                        aria-hidden="true"></span>
                      Salvar
                    </button>
                  </div>
                </div>
              </div>

            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
