<app-navbar [breadcrumbCurrent]="'Termos de uso'"></app-navbar>
<app-sidebar></app-sidebar>
<div class="main-content pt-2 py-md-7">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-10 col-12">
        <div class="header">
          <div class="header-body">
            <div class="row align-items-center">
              <div class="col-sm">
                <h1 class="header-title text-truncate mb-3">
                  Termos de uso
                </h1>
              </div>
            </div>
          </div>
        </div>
        <div class="card" >
          <div class="table-responsive">
            <table class="table table-sm table-hover table-nowrap card-table">
              <thead>
                <tr >
                  <th>
                    <a class="text-muted"></a>
                  </th>
                </tr>
              </thead>
              <tbody class="list font-size-base">
                
                <tr routerLink="{{PathRoutes.Terms.Edit}}/usuarios" class="tr-link">
                  <td class="text-left">
                    <span>Termos de uso usuários</span>
                  </td>
                </tr>
                <tr routerLink="{{PathRoutes.Terms.Edit}}/fornecedores" class="tr-link">
                  <td class="text-left">
                    <span>Termos de uso fornecedores</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>