<nav class="navbar navbar-expand-lg navbar-light fixed-top d-none d-md-flex px-5" id="topbar">
  <div class="container-fluid">
    <nav aria-label="breadcrumb ml-auto">
      <ol class="breadcrumb">
        <li *ngIf="breadcrumbLink" class="breadcrumb-item">
          <a routerLink="{{ breadcrumbLink }}" routerLinkActive="active">{{ breadcrumbLinkName }}</a>
        </li>
        <li *ngIf="breadcrumbSubLink" class="breadcrumb-item">
          <a routerLink="{{ breadcrumbSubLink }}" routerLinkActive="active">{{ breadcrumbSubLinkName }}</a>
        </li>
        <li *ngIf="breadcrumbCurrent" class="breadcrumb-item active" aria-current="page">{{ breadcrumbCurrent }}</li>
      </ol>
    </nav>
    <div class="navbar-user ml-auto">
      <div class="dropdown d-flex align-items-center">
        <a href="#" class="avatar avatar-sm dropdown-toggle d-flex align-items-center justify-content-center" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <i class="far fa-user profile ml-2"></i>
          <!-- <img src="./assets/img/avatar.png" alt="..." class="avatar-img rounded-circle"> -->
        </a>
        <span class="text-muted mr-2">
          {{ session.name }}
        </span>
        <div class="dropdown-menu dropdown-menu-right">
          <button (click)="logout()" class="dropdown-item">Sair</button>
        </div>
      </div>
    </div>
  </div>
</nav>
