input[type="text"]:disabled {
    background-color: red !important;
}

a.carousel-control-prev, a.carousel-control-next {
    background: black;
    opacity: 0.2;
  }
  
  .carousel-control-prev:hover, .carousel-control-prev:focus, .carousel-control-next:hover, .carousel-control-next:focus {
    color: #FFFFFF;
    text-decoration: none;
    outline: 0;
    opacity: 0.2 !important;
  }
  