<app-navbar [breadcrumbLink]="PathRoutes.Products.List" [breadcrumbLinkName]="'Produtos'"
  [breadcrumbCurrent]="'Detalhes'">
</app-navbar>
<app-sidebar></app-sidebar>
<div class="main-content pt-2 py-md-7">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 col-xl-9">
        <div class="header">
          <div class="header-body">
            <div class="row align-items-center">
              <div class="col-8">
                <h1 class="header-title text-truncate">
                  Detalhe do produto
                </h1>
              </div>
              <div class="col-2 text-right">
                <a routerLink="{{PathRoutes.Products.Edit}}/{{id}}" class="btn btn-primary">
                  <span class="fe fe-edit mr-2"></span>
                  Editar
                </a>
              </div>
              <div class="col-2 text-right">
                <button (click)="duplicate()" class="btn btn-outline-secondary">
                  <span class="fe fe-copy mr-2"></span>
                  Duplicar
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <form>
              <div class="row" *ngIf="item">
                <div class="col-12">
                  <div id="carouselExampleIndicators" class="carousel slide">
                    <ol class="carousel-indicators">
                      <li data-target="#carouselExampleIndicators" [attr.data-slide-to]="0" class="active"></li>
                      <li data-target="#carouselExampleIndicators" [attr.data-slide-to]="1" ></li>
                      <li data-target="#carouselExampleIndicators" [attr.data-slide-to]="2" ></li>
                    </ol>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img class="d-block w-100" style="object-fit: contain; height: auto; max-height: 450px;" [src]="item?.error_picture || (environment.baseStorageUrl+item?.picture)"(error)="item.error_picture = 'assets/img/placeholder-img.png'" alt="..." class="avatar-img rounded" alt="First slide">
                      </div>
                      <div class="carousel-item" >
                        <img class="d-block w-100" style="object-fit: contain; height: auto; max-height: 450px;" [src]="item?.error_picture_2 || (environment.baseStorageUrl+item?.picture_2)"(error)="item.error_picture_2 = 'assets/img/placeholder-img.png'" alt="..." class="avatar-img rounded" alt="Second slide">
                      </div>
                      <div class="carousel-item" >
                        <img class="d-block w-100" style="object-fit: contain; height: auto; max-height: 450px;" [src]="item?.error_picture_3 || (environment.baseStorageUrl+item?.picture_3)"(error)="item.error_picture_3 = 'assets/img/placeholder-img.png'" alt="..." class="avatar-img rounded" alt="Third slide">
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="row">
               
                <div class="col-12 pt-5">
                  <h2 class="header-title">
                    Informações gerais
                  </h2>
                  <hr>
                </div>

                <div class="col-12 col-md-12">
                  <div class="form-group">
                    <label class="text-muted">
                      Código interno
                    </label>
                    <input type="text" name="email" class="form-control" [value]="item?.sku" readonly>
                  </div>
                </div>

                <div class="col-12 col-md-12">
                  <div class="form-group">
                    <label class="text-muted">
                      Descrição
                    </label>
                    <input type="text" name="email" class="form-control" [value]="item?.description" readonly>
                  </div>
                </div>
                <div class="col-12 col-md-3">
                  <div class="form-group">
                    <label class="text-muted">
                      Marca
                    </label>
                    <input type="text" name="name" class="form-control" [value]="item?.manufacturer.title" readonly>
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="text-muted">
                      Tipo
                    </label>
                    <input type="text" name="email" class="form-control" [value]="item?.category.title" readonly>
                  </div>
                </div>
                <div class="col-12 col-md-5">
                  <div class="form-group">
                    <label class="text-muted">
                      Ciclo
                    </label>
                    <input type="text" name="email" class="form-control" [value]="item?.cycle" readonly>
                  </div>
                </div>

                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="text-muted">
                      Tecnologia
                    </label>
                    <input type="text" name="email" class="form-control" [value]="item?.technology" readonly>
                  </div>
                </div>

                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="text-muted">
                      Gás
                    </label>
                    <input type="text" name="email" class="form-control" [value]="item?.gas" readonly>
                  </div>
                </div>

                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="text-muted">
                      Tensão
                    </label>
                    <input type="text" name="email" class="form-control" [value]="item?.voltage" readonly>
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="text-muted">
                      Classificação energética
                    </label>
                    <input type="text" name="email" class="form-control" [value]="item?.energy_rating" readonly>
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="text-muted">
                      Capacidade de refrigeração (BTU/h)
                    </label>
                    <input type="text" name="email" class="form-control" [value]="item?.cooling_capacity" readonly>
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="text-muted">
                      Capacidade de aquecimento (BTU/h)
                    </label>
                    <input type="text" name="email" class="form-control" [value]="item?.heating_capacity" readonly>
                  </div>
                </div>

                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="text-muted">
                      Potência interna (W)
                    </label>
                    <input type="text" name="email" class="form-control" [value]="item?.input_power" readonly>
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="text-muted">
                      EER (kW/kW)
                    </label>
                    <input type="text" name="email" class="form-control" [value]="item?.eer" readonly>
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="text-muted">
                      COP (kW/kW)
                    </label>
                    <input type="text" name="email" class="form-control" [value]="item?.cop" readonly>
                  </div>
                </div>





                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="text-muted">
                      Tubulação líquido
                    </label>
                    <input type="text" name="email" class="form-control" [value]="item?.liquid_piping" readonly>
                  </div>
                </div>


                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="text-muted">
                      Tubulação gás
                    </label>
                    <input type="text" name="email" class="form-control" [value]="item?.gas_pipeline" readonly>
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="text-muted">
                      Comprimento máx. tubulação
                    </label>
                    <input type="text" name="email" class="form-control" [value]="item?.maximum_pipe_length" readonly>
                  </div>
                </div>

                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="text-muted">
                      Ruído interno máx. db(A)
                    </label>
                    <input type="text" name="email" class="form-control" [value]="item?.maximum_internal_noise"
                      readonly>
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="text-muted">
                      Ruído interno min. db(A)
                    </label>
                    <input type="text" name="email" class="form-control" [value]="item?.minimum_internal_noise"
                      readonly>
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="text-muted">
                      Ruído externo db(A)
                    </label>
                    <input type="text" name="email" class="form-control" [value]="item?.external_noise" readonly>
                  </div>
                </div>
                <div class="col-12 col-md-3">
                  <div class="form-group">
                    <label class="text-muted">
                      Desnível máx.
                    </label>
                    <input type="text" name="email" class="form-control" [value]="item?.maximum_height_difference"
                      readonly>
                  </div>
                </div>
                <div class="col-12 col-md-3">
                  <div class="form-group">
                    <label class="text-muted">
                      Sensor de presença
                    </label>
                    <input type="text" name="email" class="form-control" [value]="item?.presence_sensor | titlecase"
                      readonly>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label class="text-muted">
                      Compressor
                    </label>
                    <input type="text" name="email" class="form-control" [value]="item?.compressor" readonly>
                  </div>
                </div>


                <div class="col-12 pt-5">
                  <h2 class="header-title">
                    Informações da evaporadora
                  </h2>
                  <hr>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="text-muted">
                      Código
                    </label>
                    <input type="text" name="email" class="form-control" [value]="item?.evaporator_code" readonly>
                  </div>
                </div>
                <div class="col-12 col-md-5">
                  <div class="form-group">
                    <label class="text-muted">
                      Motor ventilador
                    </label>
                    <input type="text" name="email" class="form-control" [value]="item?.evaporator_fan_motor" readonly>
                  </div>
                </div>
                <div class="col-12 col-md-3">
                  <div class="form-group">
                    <label class="text-muted">
                      Peso líquido (Kg)
                    </label>
                    <input type="text" name="email" class="form-control" [value]="item?.evaporator_net_weight" readonly>
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="text-muted">
                      Largura (mm)
                    </label>
                    <input type="text" name="email" class="form-control" [value]="item?.evaporator_width" readonly>
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="text-muted">
                      Profundidade (mm)
                    </label>
                    <input type="text" name="email" class="form-control" [value]="item?.evaporator_depth" readonly>
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="text-muted">
                      Altura (mm)
                    </label>
                    <input type="text" name="email" class="form-control" [value]="item?.evaporator_height" readonly>
                  </div>
                </div>
                <div class="col-12 col-md-12">
                  <div class="form-group">
                    <label class="text-muted">
                      Vazão de ar (m³/h)
                    </label>
                    <input type="text" name="email" class="form-control" [value]="item?.internal_air_flow" readonly>
                  </div>
                </div>



                <div class="col-12 pt-5">
                  <h2 class="header-title">
                    Informações da condensadora
                  </h2>
                  <hr>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="text-muted">
                      Código
                    </label>
                    <input type="text" name="email" class="form-control" [value]="item?.condenser_code" readonly>
                  </div>
                </div>
                <div class="col-12 col-md-5">
                  <div class="form-group">
                    <label class="text-muted">
                      Motor ventilador
                    </label>
                    <input type="text" name="email" class="form-control" [value]="item?.condenser_fan_motor" readonly>
                  </div>
                </div>
                <div class="col-12 col-md-3">
                  <div class="form-group">
                    <label class="text-muted">
                      Peso líquido (Kg)
                    </label>
                    <input type="text" name="email" class="form-control" [value]="item?.condensing_net_weight" readonly>
                  </div>
                </div>


                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="text-muted">
                      Largura (mm)
                    </label>
                    <input type="text" name="email" class="form-control" [value]="item?.condensing_width" readonly>
                  </div>
                </div>

                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="text-muted">
                      Profundidade (mm)
                    </label>
                    <input type="text" name="email" class="form-control" [value]="item?.condensing_depth" readonly>
                  </div>
                </div>

                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="text-muted">
                      Altura (mm)
                    </label>
                    <input type="text" name="email" class="form-control" [value]="item?.condensing_height" readonly>
                  </div>
                </div>
                <div class="col-12 col-md-12">
                  <div class="form-group">
                    <label class="text-muted">
                      Vazão de ar (m³/h)
                    </label>
                    <input type="text" name="email" class="form-control" [value]="item?.external_flow" readonly>
                  </div>
                </div>

                <div class="col-12 pt-5">
                  <div class="row">
                    <div class="col-8">
                      <h2 class="header-title">
                        Manuais ({{item?.manuals.length}})
                      </h2>
                    </div>
                    <div class="col-4 text-right">
                      <a routerLink="{{PathRoutes.Products.AddManuals}}/{{id}}" class="">
                        <span class="fe fe-plus mr-2"></span>
                        Adicionar
                      </a>
                    </div>
                  </div>
                  <hr>
                </div>

                <app-empty-state style="flex: 1" *ngIf="!loading && item?.manuals.length == 0"></app-empty-state>
                <div class="table-responsive">
                  <table class="table table-sm table-hover table-nowrap card-table">
                    <tbody class="">
                      <tr *ngFor="let m of item?.manuals; let i = index" class="tr-link ">
                        <td style="border-top: none; flex: 1;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;">
                          <a href="{{environment.baseStorageUrl}}{{m.path}}" target="_blank">
                            <span class="far fa-file-pdf text-danger"></span> -
                            <span>{{ m.title }}</span>
                          </a>
                          <button (click)="removeManual(i)" class="btn text-danger btn-link"><span
                              class="fa fa-times "></span></button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div class="col-12 pt-5">
                  <div class="row">
                    <div class="col-8">
                      <h2 class="header-title">
                        Vantagens ({{item?.advantages.length}})
                      </h2>
                    </div>
                    <div class="col-4 text-right">
                      <a routerLink="{{PathRoutes.Products.AddAdvantages}}/{{id}}" class="">
                        <span class="fe fe-plus mr-2"></span>
                        Adicionar
                      </a>
                    </div>
                  </div>
                  <hr>
                </div>

                <app-empty-state style="flex: 1" *ngIf="!loading && item?.advantages.length == 0"></app-empty-state>
                <div class="col-6" *ngFor="let ad of item?.advantages; let i = index">
                  <div class="card">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-12 text-right">
                          <button (click)="removeAdvantage(i)" class="btn text-danger  btn-link"><span
                              class="fa fa-times"></span></button>

                        </div>
                      </div>
                      <div class="row align-items-center">
                        <div class="col-auto">
                          <a class="avatar avatar-lg">
                            <img src="{{environment.baseStorageUrl}}{{ad.picture}}" alt="..." class="avatar-img">
                          </a>
                        </div>
                        <div class="col ml-n2">
                          <h4 class="mb-1">
                            <span>{{ad.title}}</span>
                          </h4>
                          <p class="small text-muted mb-1">
                            {{ad.description}}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>