<app-navbar
    [breadcrumbCurrent]="'Suporte'"
    ></app-navbar>
<app-sidebar></app-sidebar>
<div class="main-content pt-2 py-md-7">
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-10">
                <div class="header">
                    <div class="header-body">
                        <div class="row align-items-center">
                          <div class="col-10">
                            <h1 class="header-title text-truncate">
                              Suporte
                            </h1>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="card" [ngClass]="{'card-mb-0': !loading && items.length == 0}">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                                <form>
                                    <div class="input-group input-group-flush">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fe fe-search"></i>
                                            </span>
                                        </div>
                                        <input class="list-search form-control" type="search" placeholder="Pesquisar"
                                            (input)="search($event)">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card card-inactive" *ngIf="loading">
                        <div class="card-body d-flex justify-content-center align-items-center" style="height:20rem">
                            <div class="spinner-border text-secondary" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-sm table-hover card-table">
                            <thead>
                                <tr>
                                    <th *ngFor="let column of columns">
                                        <a class="text-muted">{{ column }}</a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="list font-size-base">
                                <tr *ngFor="let item of filteredItems;" (click)="detail(item.id)" class="tr-link">
                                    <td>
                                        <span>{{ item.user.name || item.user.company_name }} | {{ item.user.company_email || item.user.email }}</span>
                                    </td>
                                    <td>
                                        <span>{{ item.description }}</span>
                                    </td>
                                    <td>
                                        <span>{{ item.help_category.title }}</span>
                                    </td>
                                    <td>
                                        <span>{{ item.created_at | date:'dd/MM/yyy' }}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <app-empty-state *ngIf="!loading && filteredItems.length == 0"></app-empty-state>
            </div>
        </div>
    </div>
</div>
