.custom-dropzone{
    border: 1px dashed #D2DDEC;
    justify-content: center;
}
ngx-dropzone-image-preview{
    min-height: 110px !important;
    height: 110px  !important;
}
.avatar-custom:hover img{
    filter: opacity(0.5);
    transition: all ease .3s;
}
.avatar-custom img {
    transition: all ease .3s;
}
.avatar-custom{
    cursor: pointer;
}
.avatar-custom:hover .change-logo{
    opacity: 1;
    transition: all ease .3s;
}
.change-logo{
    position: absolute;
    top: 50px;
    left: 7px;
    font-size: 1rem;
    opacity: 0;
    transition: all ease 0.3s;
    text-transform: uppercase;
}