<app-navbar *ngIf="!id" [breadcrumbLink]="PathRoutes.Establishments.List" [breadcrumbLinkName]="'Estabelecimentos'"
  [breadcrumbCurrent]="'Adicionar'"></app-navbar>
<app-navbar *ngIf="id" [breadcrumbLink]="PathRoutes.Establishments.List" [breadcrumbLinkName]="'Estabelecimentos'"
  [breadcrumbSubLink]="PathRoutes.Establishments.Detail+'/'+id" [breadcrumbSubLinkName]="'Detalhes'"
  [breadcrumbCurrent]="'Editar'"></app-navbar>
<app-sidebar></app-sidebar>
<div class="main-content pt-2 py-md-7">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 col-xl-8">
        <div class="header">
          <div class="header-body">
            <div class="row align-items-center">
              <div class="col">
                <h1 class="header-title">
                  {{ id ? 'Editar Estabelecimento' : 'Adicionar Estabelecimento'}}
                </h1>
              </div>
            </div>
          </div>
        </div>
        <!-- Form -->
        <div class="card">
          <div class="card-body">
            <form [formGroup]="form" (submit)="save()">
              <div class="row pt-5">
                <div class="col-12 d-flex flex-column">
                  <span *ngIf="!hasLogo && id" class="align-self-end text-danger" style="cursor: pointer"
                    (click)="cancelUpload()">Cancelar</span>
                  <div class="custom-dropzone" [ngClass]="{'custom-dropzone-add': !id}" ngx-dropzone [multiple]="false"
                    (change)="onSelect($event)" *ngIf="!hasLogo">
                    <ngx-dropzone-label>Arraste seu logo aqui</ngx-dropzone-label>
                    <ngx-dropzone-image-preview *ngFor="let f of files" ngProjectAs="ngx-dropzone-preview" [file]="f"
                      [removable]="true" (removed)="onRemove(f)"></ngx-dropzone-image-preview>
                  </div>
                  <input type="hidden" formControlName="image" [(ngModel)]="image_url">
                  <div class="d-flex flex-column justify-content-center align-items-center" *ngIf="hasLogo">
                    <div class="avatar avatar-xxl avatar-custom" (click)="hasLogo = !hasLogo">
                      <img [src]="item?.image_url ? environment.imageBaseUrl+item?.image_url : 'assets/img/logo.png'"
                        class="avatar-img rounded-circle shadow">
                      <!-- <img src="assets/img/logo.png" alt="..." class="avatar-img rounded-circle shadow"> -->
                      <span class="change-logo">
                        Alterar Logo
                      </span>
                    </div>
                  </div>
                </div>
              </div>
                <h2 class="mt-6">Informações do Estabelecimento</h2>
                <hr class="my-4">
                <div class="row">
                  <div class="col-12 col-md-6">
                    <div class="form-group">
                      <label class="text-muted">Nome<span class="text-danger">*</span></label>
                      <input type="text" formControlName="name" class="form-control" placeholder="Nome"
                        [ngClass]="{'is-invalid': form.controls.name.touched && form.controls.name.invalid}">
                      <small class="text-danger" *ngIf="form.controls['name'].touched && !form.controls['name'].valid">
                        Preencha o nome
                      </small>
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="form-group">
                      <label class="text-muted control-label">Email<span class="text-danger">*</span></label>
                      <input type="email" formControlName="email" placeholder="Email" class="form-control"
                        [ngClass]="{'is-invalid': form.controls.email.touched && form.controls.email.invalid}">
                      <small class="text-danger" *ngIf="form.controls['email'].touched && !form.controls['email'].valid">
                        Preencha o email
                      </small>
                    </div>
                  </div>
                  <div class="col-12 col-md-6" *ngIf="!id">
                    <div class="form-group">
                      <label class="text-muted control-label">Senha<span class="text-danger">*</span></label>
                      <input type="password" formControlName="password" class="form-control" placeholder="Senha"
                        [ngClass]="{'is-invalid': form.controls['password'].touched && !form.controls['password'].valid}">
                      <small class="text-danger"
                        *ngIf="form.controls['password'].touched && !form.controls['password'].valid">
                        Preencha a senha
                      </small>
                    </div>
                  </div>
                  <div class="col-12 col-md-6" *ngIf="!id">
                    <div class="form-group">
                      <label class="text-muted">Confirmar Nova Senha<span class="text-danger">*</span></label>
                      <input type="password" formControlName="confirm_password" class="form-control mb-3"
                        placeholder="Confirmar Senha"
                        [ngClass]="{'is-invalid': form.controls['confirm_password'].touched && form.controls['password'].value != form.controls['confirm_password'].value}">
                      <small class=" text-danger"
                        *ngIf="form.controls['confirm_password'].touched && form.controls['password'].value != form.controls['confirm_password'].value">
                        As senhas não conferem
                      </small>
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="form-group">
                      <label class="text-muted">Tipo<span class="text-danger">*</span></label>
                      <select formControlName="type" class="custom-select" data-toggle="select"
                        [ngClass]="{'is-invalid': form.controls.type.touched && form.controls.type.invalid}">
                        <option value="">Selecione o tipo</option>
                        <option *ngFor="let t of types" [selected]="item?.type == t" [value]="t">
                          {{ t | titlecase  }}</option>
                      </select>
                      <small class="text-danger" *ngIf="form.controls['type'].touched && !form.controls['type'].valid">
                        Escolha o tipo
                      </small>
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="form-group">
                      <label class="text-muted">Taxa de entrega</label>
                      <input type="text" formControlName="delivery_fee" class="form-control mb-3" placeholder="R$"
                        [ngClass]="{'is-invalid': form.controls['delivery_fee'].touched && form.controls['delivery_fee'].invalid}"
                        currencyMask [(ngModel)]="delivery_fee">
                      <small class=" text-danger"
                        *ngIf="form.controls['delivery_fee'].touched && form.controls['delivery_fee'].invalid">
                        Preencha a taxa de entrega
                      </small>
                    </div>
                  </div>
                </div>

              <h2 class="mt-5">Informações de Endereço</h2>
              <hr class="my-4">
              <div class="row">
                <div class="col-md-3 m-b-15">
                  <div class="form-group">
                    <label class="text-muted control-label">CEP <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" formControlName="address_cep" placeholder="CEP"
                      [mask]="helper.masks.cep" (input)="cepComplete()"
                      [ngClass]="{'is-invalid': form.controls['address_cep'].touched && !form.controls['address_cep'].valid}" />
                    <small class="text-danger"
                      *ngIf="form.controls['address_cep'].touched && !form.controls['address_cep'].valid">Informe
                      um CEP válido</small>
                  </div>

                </div>
                <div class="col-md-6 m-b-15">
                  <div class="form-group">
                    <label class="text-muted control-label">Endereço<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" formControlName="address_street"
                      placeholder="Ex: Rua, Av, Logradouro"
                      [ngClass]="{'is-invalid': form.controls['address_street'].touched && !form.controls['address_street'].valid}" />
                    <small class="text-danger"
                      *ngIf="form.controls['address_street'].touched && !form.controls['address_street'].valid">Preencha
                      o endereço</small>
                  </div>
                </div>

                <div class="col-md-3 m-b-15">
                  <div class="form-group">
                    <label class="text-muted control-label">Número<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" formControlName="address_number" placeholder="Número"
                      [ngClass]="{'is-invalid': form.controls['address_number'].touched && !form.controls['address_number'].valid}" />
                    <small class="text-danger"
                      *ngIf="form.controls['address_number'].touched && !form.controls['address_number'].valid">Preencha
                      o número</small>
                  </div>
                </div>
                <div class="col-md-4 m-b-15">
                  <div class="form-group">
                    <label class="text-muted control-label">Bairro<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" formControlName="address_neighborhood" placeholder="Bairro"
                      [ngClass]="{'is-invalid': form.controls['address_neighborhood'].touched && !form.controls['address_neighborhood'].valid}" />
                    <small class="text-danger"
                      *ngIf="form.controls['address_neighborhood'].touched && !form.controls['address_neighborhood'].valid">Preencha
                      o bairro</small>
                  </div>
                </div>
                <div class="col-md-4 m-b-15">
                  <div class="form-group">
                    <label class="text-muted control-label">Cidade<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" formControlName="address_city" placeholder="Cidade"
                      [ngClass]="{'is-invalid': form.controls['address_city'].touched && !form.controls['address_city'].valid}" />
                    <small class="text-danger"
                      *ngIf="form.controls['address_city'].touched && !form.controls['address_city'].valid">Preencha
                      a cidade</small>
                  </div>
                </div>
                <div class="col-md-4 m-b-15">
                  <div class="form-group">
                    <label class="text-muted control-label">Estado<span class="text-danger">*</span></label>
                    <select formControlName="address_state" class="form-control"
                      [ngClass]="{'is-invalid': form.controls['address_state'].touched && !form.controls['address_state'].valid}">
                      <option value="">Selecione</option>
                      <option *ngFor="let uf of ufs" [value]="uf.nome"
                        [selected]="id && item?.address_state == uf.sigla">{{ uf.nome }}
                      </option>
                    </select>
                    <small class="text-danger"
                      *ngIf="form.controls['address_state'].touched && !form.controls['address_state'].valid">Preencha
                      o estado</small>
                  </div>
                </div>
              </div>

            </form>
            <form [formGroup]="bankForm">
              <div *ngIf="!id">
                <h2 class="mt-5">Informações para Recebimento</h2>
                <hr class="my-4">
                <div class="row">
                  <div class="col-12 col-md-6">
                    <div class="form-group">
                      <label>Nome<span class="text-danger">*</span></label>
                      <input type="text" formControlName="name" class="form-control" placeholder="Nome"
                        [ngClass]="{'is-invalid': bankForm.controls['name'].touched && !bankForm.controls['name'].valid }">
                      <small class="text-danger"
                        *ngIf="bankForm.controls['name'].touched && !bankForm.controls['name'].valid">
                        Preencha o nome
                      </small>
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="form-group">
                      <label>CPF<span class="text-danger">*</span></label>
                      <input type="text" formControlName="cpf" class="form-control" placeholder="CPF"
                        [mask]="helper.masks.cpf"
                        [ngClass]="{'is-invalid': bankForm.controls['cpf'].touched && !bankForm.controls['cpf'].valid }">
                      <small class="text-danger"
                        *ngIf="bankForm.controls['cpf'].touched && !bankForm.controls['cpf'].valid">
                        Preencha o CPF
                      </small>
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="form-group">
                      <label>Banco<span class="text-danger">*</span></label>
                      <select class="custom-select form-control" formControlName="bank_code"
                        (change)="bankChanged($event)"
                        [ngClass]="{'is-invalid': bankForm.controls['bank_code'].touched && !bankForm.controls['bank_code'].valid }">
                        <option value="">Selecione</option>
                        <option *ngFor="let b of banksSelect; let i of index" value="{{b.code}}">{{b.name}}</option>
                      </select>
                      <small class="text-danger"
                        *ngIf="bankForm.controls['bank_code'].touched && !bankForm.controls['bank_code'].valid">
                        Preencha o banco
                      </small>
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="form-group">
                      <label>Tipo de conta<span class="text-danger">*</span></label>
                      <select formControlName="account_type" class="custom-select form-control"
                        [ngClass]="{'is-invalid': bankForm.controls['account_type'].touched && !bankForm.controls['account_type'].valid }">
                        <option value="">Selecione</option>
                        <option value="corrente">Corrente</option>
                        <option value="poupanca">Poupança</option>
                      </select>
                      <small class="text-danger"
                        *ngIf="bankForm.controls['account_type'].touched && bankForm.controls['account_type'].invalid">
                        Selecione o tipo de conta
                      </small>
                    </div>
                  </div>
                  <div class="col-12 col-md-4">
                    <div class="form-group">
                      <label>Agência<span class="text-danger">*</span></label>
                      <input type="text" formControlName="agency" class="form-control mb-3" placeholder="Agência"
                        [ngClass]="{'is-invalid': bankForm.controls['agency'].touched && !bankForm.controls['agency'].valid }">
                      <small class="text-danger"
                        *ngIf="bankForm.controls['agency'].touched && !bankForm.controls['agency'].valid">
                        Preencha a agência
                      </small>
                    </div>
                  </div>
                  <div class="col-12 col-md-2">
                    <div class="form-group">
                      <label>Digito<span class="text-danger"></span></label>
                      <input maxlength="1" type="text" formControlName="agency_verifier" class="form-control mb-3"
                        placeholder="Digito"
                        [ngClass]="{'is-invalid': bankForm.controls['agency_verifier'].touched && !bankForm.controls['agency_verifier'].valid }">

                    </div>
                  </div>
                  <div class="col-12 col-md-4">
                    <div class="form-group">
                      <label>Conta<span class="text-danger">*</span></label>
                      <input type="text" formControlName="account_number" class="form-control mb-3" placeholder="Conta"
                        [ngClass]="{'is-invalid': bankForm.controls['account_number'].touched && !bankForm.controls['account_number'].valid }">
                      <small class="text-danger"
                        *ngIf="bankForm.controls['account_number'].touched && !bankForm.controls['account_number'].valid">
                        Preencha o número da conta
                      </small>
                    </div>
                  </div>
                  <div class="col-12 col-md-2">
                    <div class="form-group">
                      <label>Digito<span class="text-danger"></span></label>
                      <input maxlength="1" type="text" formControlName="account_verifier" class="form-control mb-3"
                        placeholder="Conta"
                        [ngClass]="{'is-invalid': bankForm.controls['account_verifier'].touched && !bankForm.controls['account_verifier'].valid }">

                    </div>
                  </div>
                </div>
              </div>
              <a class="btn btn-light d-block btn-block mt-4" *ngIf="id"
                routerLink="{{ PathRoutes.Establishments.PasswordReset }}/{{id}}">
                Alterar Senha
              </a>
              <button class="btn btn-primary d-block btn-block" (click)="save()"
                [disabled]="loading || (form.invalid || (bankForm.invalid && !id) ) || (!id && form.controls['password'].value != form.controls['confirm_password'].value)">
                <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Concluir
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
