<app-navbar 
    [breadcrumbLink]="PathRoutes.Establishments.Detail+'/'+id"
    [breadcrumbLinkName]="'Minha conta'"
    [breadcrumbSubLink]="PathRoutes.Establishments.Edit+'/'+id"
    [breadcrumbSubLinkName]="'Editar'"
    [breadcrumbCurrent]="'Alterar Senha'"
    ></app-navbar>
<app-sidebar></app-sidebar>
<div class="main-content pt-2 py-md-7">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10 col-xl-8">
                <div class="header">
                    <div class="header-body">
                        <div class="row align-items-center">
                            <div class="col">
                                <h1 class="header-title">
                                    Alterar Senha
                                </h1>
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <form [formGroup]="form" (submit)="save()">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>Senha Atual</label>
                                        <input type="password" formControlName="old_password" class="form-control" placeholder="Senha Atual" [ngClass]="{'is-invalid': form.controls.old_password.touched && form.controls.old_password.invalid}">
                                        <small class="text-danger" *ngIf="form.controls['old_password'].touched && !form.controls['old_password'].valid">
                                            Preencha a senha atual
                                        </small>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label>Nova Senha</label>
                                        <input type="password" formControlName="password" class="form-control"  placeholder="Nova Senha" [ngClass]="{'is-invalid': form.controls.password.touched && form.controls.password.invalid}">
                                        <small class="text-danger" *ngIf="form.controls['password'].touched && !form.controls['password'].valid">
                                            Preencha a nova senha
                                        </small>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label>Confirmar Nova Senha</label>
                                        <input type="password" formControlName="confirm_password" class="form-control mb-3"  placeholder="Confirmar Nova Senha" [ngClass]="{'is-invalid': form.controls['confirm_password'].touched && form.controls['password'].value != form.controls['confirm_password'].value}">
                                        <small class="text-danger" *ngIf="form.controls['confirm_password'].touched && form.controls['password'].value != form.controls['confirm_password'].value">
                                            As senhas não conferem
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary d-block btn-block"
                                [disabled]="loading || form.invalid || form.controls['password'].value != form.controls['confirm_password'].value ">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Concluir
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>