<app-navbar [breadcrumbLink]="PathRoutes.Videos.List" [breadcrumbLinkName]="'Videos'"
  [breadcrumbCurrent]="id ? 'Editar' : 'Adicionar'">
</app-navbar>
<app-sidebar></app-sidebar>
<div class="main-content pt-2 py-md-7">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 col-xl-9">
        <div class="header">
          <div class="header-body">
            <div class="row align-items-center">
              <div class="col">
                <h6 class="header-pretitle">
                </h6>
                <h1 class="header-title">
                  {{id ? 'Editar video' : 'Adicionar video'}}
                </h1>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <form [formGroup]="form" (submit)="save()">
              <div class="row">

                <div class="col-12">
                  <div class="form-group">
                    <label class="text-muted">
                      Titulo
                    </label>
                    <input maxlength="30" type="text" formControlName="title" class="form-control"
                      [ngClass]="{'is-invalid': form.controls['title'].touched && !form.controls['title'].valid}">
                    <small class="text-danger" *ngIf="form.controls['title'].touched && !form.controls['title'].valid">
                      Título inválido
                    </small>
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <label class="text-muted">
                      Tipo
                    </label>
                    <select class="form-control" formControlName="type" [ngClass]="{'is-invalid': form.controls['type'].touched && !form.controls['type'].valid}">
                      <option *ngFor="let item of types" [value]=item.id>{{item.title}}</option>
                    </select>
                    <small class="text-danger" *ngIf="form.controls['type'].touched && !form.controls['type'].valid">
                      Tipo inválido
                    </small>
                  </div>
                </div>
                <div class="col-8">
                  <div class="form-group">
                    <label class="text-muted">
                      Url do video
                    </label>
                    <input type="text" formControlName="video_link" class="form-control" [placeholder]="form.controls.type.value == 'extra' ? 'https://www.youtube.com/watch?v=_boCjk-KZtw' : 'https://vimeo.com/411120384'"
                    [ngClass]="{'is-invalid': form.controls['video_link'].touched && !form.controls['video_link'].valid}">
                    <small class="text-danger" *ngIf="form.controls['video_link'].touched && !form.controls['video_link'].valid">
                      URL inválida
                    </small>
                  </div>

                </div>


                <div class="col-12">
                  <button type="submit" class="btn btn-primary d-block btn-block" [disabled]="form.invalid">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status"
                      aria-hidden="true"></span>
                    Salvar
                  </button>
                </div>

              </div>

            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
