<app-navbar [breadcrumbLink]="PathRoutes.Establishments.List" [breadcrumbLinkName]="'Estabelecimentos'"
  [breadcrumbCurrent]="'Detalhes'"></app-navbar>
<app-sidebar></app-sidebar>
<div class="main-content pt-2 py-md-7">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 col-xl-8">
        <div class="header">
          <div class="header-body">
            <div class="row align-items-center">
              <div class="col">
                <h1 class="header-title">
                  Detalhes do Estabelecimento
                </h1>
              </div>
              <div class="col-auto" *ngIf="item?.active == 1">
                <button class="btn btn-outline-secondary btn-del" (click)="activeEstablishment(item.id, 0)">
                  <span class="fe fe-x mr-2"></span>
                  Desativar
                </button>
              </div>
              <div class="col-auto" *ngIf="item?.active == 0">
                <button class="btn btn-success" (click)="activeEstablishment(item.id, 1)">
                  <span class="fe fe-check mr-2"></span>
                  Ativar
                </button>
              </div>
              <div class="col-auto" *ngIf="id">
                <a class="btn btn-white" routerLink="{{PathRoutes.Establishments.Edit}}/{{id}}">
                  <span class="fe fe-edit mr-2"></span>
                  Editar
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- Form -->
        <div class="card">
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-12">
                  <div class="d-flex flex-column justify-content-center align-items-center pt-5">
                    <div class="avatar avatar-xxl">
                      <img
                        [src]="item?.image_url ? environment.imageBaseUrl+item?.image_url : 'assets/img/placeholder-img.png'"
                        class="avatar-img rounded-circle shadow">
                    </div>
                  </div>
                </div>
              </div>
              <h2 class="mt-6">Informações do Estabelecimento</h2>
              <hr class="my-4">
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label class="text-muted">Nome</label>
                    <input type="text" class="form-control" [value]="item?.name" readonly>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label class="text-muted">Email</label>
                    <input type="text" class="form-control" [value]="item?.email" readonly>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label class="text-muted">Tipo</label>
                    <input type="text" class="form-control" [value]="item?.type | titlecase" readonly>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label class="text-muted">Taxa de Entrega</label>
                    <input *ngIf="delivery_fee" type="text" class="form-control"
                      [value]="item?.delivery_fee | currency: 'BRL'" readonly>
                    <input *ngIf="!delivery_fee" type="text" class="form-control" value="Grátis" readonly>
                  </div>
                </div>
              </div>
              <h2 class="mt-5">Informações de Endereço</h2>
              <hr class="my-4">
              <div class="row">
                <div class="col-md-3 m-b-15">
                  <div class="form-group">
                    <label class="text-muted control-label">CEP</label>
                    <input type="text" class="form-control" [value]="item?.address_cep | mask: helper.masks.cep"
                      readonly />
                  </div>
                </div>

                <div class="col-md-6 m-b-15">
                  <div class="form-group">
                    <label class="text-muted control-label">Endereço</label>
                    <input type="text" class="form-control" [value]="item?.address_street" readonly />
                  </div>
                </div>

                <div class="col-md-3 m-b-15">
                  <div class="form-group">
                    <label class="text-muted control-label">Número</label>
                    <input type="text" class="form-control" [value]="item?.address_number" readonly />
                  </div>
                </div>

                <div class="col-md-4 m-b-15">
                  <div class="form-group">
                    <label class="text-muted control-label">Cidade</label>
                    <input type="text" class="form-control" [value]="item?.address_city" readonly />
                  </div>
                </div>

                <div class="col-md-4 m-b-15">
                  <div class="form-group">
                    <label class="text-muted control-label">Bairro</label>
                    <input type="text" class="form-control" [value]="item?.address_neighborhood" readonly />
                  </div>
                </div>

                <div class="col-md-4 m-b-15">
                  <div class="form-group">
                    <label class="text-muted control-label">Estado</label>
                    <input type="text" [value]="item?.address_state" class="form-control" readonly />
                  </div>
                </div>
              </div>
              <h2 class="mt-5">Informações para recebimento</h2>
              <hr class="my-4">
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label class="text-muted control-label">Nome</label>
                    <input type="text" [value]="item?.bank?.name" class="form-control" readonly />
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label class="text-muted control-label">CPF</label>
                    <input type="text" [value]="item?.bank?.cpf" class="form-control" readonly>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label class="text-muted control-label">Banco</label>
                    <input type="text" [value]="item?.bank?.bank_name" class="form-control" readonly>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label class="text-muted control-label">Tipo de conta</label>
                    <input type="text" [value]="item?.bank?.account_type" class="form-control" readonly>
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="text-muted control-label">Agência</label>
                    <input type="text" [value]="item?.bank?.agency" class="form-control" readonly>
                  </div>
                </div>
                <div class="col-12 col-md-2">
                  <div class="form-group">
                    <label class="text-muted control-label">Digito</label>
                    <input type="text" [value]="item?.bank?.agency_verifier" class="form-control" readonly>
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="text-muted control-label">Conta</label>
                    <input type="text" [value]="item?.bank?.account_number" class="form-control" readonly>
                  </div>
                </div>
                <div class="col-12 col-md-2">
                  <div class="form-group">
                    <label class="text-muted control-label">Dígito</label>
                    <input type="text" [value]="item?.bank?.account_verifier" class="form-control" readonly>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
