<app-navbar [breadcrumbLink]="PathRoutes.Brands.List" [breadcrumbLinkName]="'Fabricantes'"
  [breadcrumbCurrent]="!id ? 'Adicionar' : 'Editar'">
</app-navbar>
<app-sidebar></app-sidebar>
<div class="main-content pt-2 py-md-7">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 col-xl-9">
        <div class="header">
          <div class="header-body">
            <div class="row align-items-center">
              <div class="col">
                <h6 class="header-pretitle">
                </h6>
                <h1 class="header-title">
                  {{!id ? 'Adicionar fabricante' : 'Editar fabricante'}}
                </h1>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <form [formGroup]="form" (submit)="save()">
              <div class="row">
                <div class="col-12">
                  <div class="custom-dropzone mb-4" [accept]="'.jpeg,.jpg,.png'"
                    [ngClass]="{'custom-dropzone-add': !id}" ngx-dropzone [multiple]="false"
                    (change)="onSelect($event)">
                    <ngx-dropzone-label *ngIf="!id">Arraste a imagem aqui</ngx-dropzone-label>
                    <img style="max-width: 500px; max-height: 300px;" *ngIf="id && !form.controls.picture.value"
                      src="{{environment.baseStorageUrl}}{{item?.picture}}" />
                    <ngx-dropzone-image-preview *ngIf="form.controls.picture.value" ngProjectAs="ngx-dropzone-preview"
                      [file]="form.controls.picture.value" [removable]="true" (removed)="onRemove()">
                    </ngx-dropzone-image-preview>
                  </div>
                </div>

                <div class="col-12">
                  <div class="form-group">
                    <label class="text-muted">
                      Titulo
                    </label>
                    <input maxlength="30" type="text" formControlName="title" class="form-control uppercased">
                  </div>
                </div>
                <div class="col-12 pt-5">
                  <div class="col-12">
                    <button type="submit" class="btn btn-primary d-block btn-block" [disabled]="form.invalid">
                      <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status"
                        aria-hidden="true"></span>
                      Salvar
                    </button>
                  </div>
                </div>
              </div>

            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
