<app-navbar [breadcrumbLink]="PathRoutes.Videos.List" [breadcrumbLinkName]="'Videos'"
  [breadcrumbCurrent]="'Detalhes'">
</app-navbar>
<app-sidebar></app-sidebar>
<div class="main-content pt-2 py-md-7">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 col-xl-8">
        <div class="header">
          <div class="header-body">
            <div class="row align-items-center">
              <div class="col-10">
                <h1 class="header-title text-truncate">
                  Detalhe do video
                </h1>
              </div>
              <div class="col-2 text-right">
                <a routerLink="{{PathRoutes.Videos.Edit}}/{{id}}" class="btn btn-primary">
                  <span class="fe fe-edit mr-2"></span>
                  Editar
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-12 col-md-9">
                  <div class="form-group">
                    <label class="text-muted">
                      Título
                    </label>
                    <input type="text" name="name" class="form-control" [value]="item?.title" readonly>
                  </div>
                </div>
                <div class="col-12 col-md-3">
                  <div class="form-group">
                    <label class="text-muted">
                      Tipo
                    </label>
                    <input type="text" class="form-control"
                      [value]="helper.getVideoType(item?.type)" readonly>
                  </div>
                </div>
                <div class="col-12 text-center pt-2" *ngIf="url">
                  <iframe width="560" height="315" [src]="url" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
