<app-navbar [breadcrumbLink]="PathRoutes.Users.List" [breadcrumbLinkName]="'Usuários'" [breadcrumbCurrent]="'Detalhes'">
</app-navbar>
<app-sidebar></app-sidebar>
<div class="main-content pt-2 py-md-7">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10 col-xl-8">
                <div class="header">
                    <div class="header-body">
                        <div class="row align-items-center">
                            <div class="col">
                                <h6 class="header-pretitle">
                                </h6>
                                <h1 class="header-title">
                                    Detalhes do Usuário
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <form *ngIf="item?.person_type == 'pf'">
                            <div class="row">
                                <div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <label class="text-muted">
                                            Nome
                                        </label>
                                        <input type="text" name="name" class="form-control" [value]="item?.name"
                                            readonly>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <label class="text-muted">
                                            E-mail
                                        </label>
                                        <input type="text" name="email" class="form-control" [value]="item?.email"
                                            readonly>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <label class="text-muted">
                                            Data Criação
                                        </label>
                                        <input type="text" name="email" class="form-control"
                                            [value]="item?.created_at | date:'dd/MM/yyyy'" readonly>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <label class="text-muted">
                                            Telefone
                                        </label>
                                        <input type="text" name="email" class="form-control" [value]="item?.phone"
                                            readonly>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <label class="text-muted">
                                            CPF
                                        </label>
                                        <input type="text" name="email" class="form-control" [value]="item?.cpf"
                                            readonly>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <label class="text-muted">
                                            Data de nascimento
                                        </label>
                                        <input type="text" name="email" class="form-control"
                                            [value]="item?.birth | date:'dd/MM/yyyy'" readonly>
                                    </div>
                                </div>
                                <div class="col-12 col-md-12">
                                    <div class="form-group">
                                        <label class="text-muted">
                                            Ultimo dispositivo logado
                                        </label>
                                        <input type="text" name="model" class="form-control"
                                            [value]="item?.model || 'N/A'" readonly>
                                    </div>
                                </div>

                                <div class="col-12 pt-5">
                                    <h2 class="header-title">
                                        Informações de endereço
                                    </h2>
                                    <hr>
                                </div>

                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label class="text-muted">
                                            Rua
                                        </label>
                                        <input type="text" name="email" class="form-control"
                                            [value]="item?.address_street" readonly>
                                    </div>
                                </div>
                                <div class="col-12 col-md-2">
                                    <div class="form-group">
                                        <label class="text-muted">
                                            Número
                                        </label>
                                        <input type="text" name="email" class="form-control"
                                            [value]="item?.address_number" readonly>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <label class="text-muted">
                                            CEP
                                        </label>
                                        <input type="text" name="email" class="form-control"
                                            [value]="item?.address_zip_code" readonly>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <label class="text-muted">
                                            Bairro
                                        </label>
                                        <input type="text" name="email" class="form-control"
                                            [value]="item?.address_neighborhood" readonly>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label class="text-muted">
                                            Cidade
                                        </label>
                                        <input type="text" name="email" class="form-control"
                                            [value]="item?.address_city" readonly>
                                    </div>
                                </div>
                                <div class="col-12 col-md-2">
                                    <div class="form-group">
                                        <label class="text-muted">
                                            Estado
                                        </label>
                                        <input type="text" name="email" class="form-control"
                                            [value]="item?.address_state" readonly>
                                    </div>
                                </div>

                                <div class="col-12 col-md-12">
                                    <div class="form-group">
                                        <label class="text-muted">
                                            Complemento
                                        </label>
                                        <input type="text" name="email" class="form-control"
                                            [value]="item?.address_complement" readonly>
                                    </div>
                                </div>
                                <div class="col-12 pt-5">
                                    <h2 class="header-title">
                                        Informações bancárias
                                    </h2>
                                    <hr>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <label class="text-muted">
                                            Banco
                                        </label>
                                        <input type="text" name="email" class="form-control"
                                            [value]="item?.account_bank_code ? item?.account_bank_code+'-'+item?.account_bank_name : ''"
                                            readonly>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <label class="text-muted">
                                            Agência
                                        </label>
                                        <input type="text" name="email" class="form-control"
                                            [value]="item?.account_agency_digit ? item?.account_agency+'-'+item?.account_agency_digit : item?.account_agency"
                                            readonly>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <label class="text-muted">
                                            Conta
                                        </label>
                                        <input type="text" name="email" class="form-control"
                                            [value]="item?.account_number_digit ? item?.account_number+'-'+item?.account_number_digit : item?.account_number"
                                            readonly>
                                    </div>
                                </div>

                            </div>
                        </form>
                        <form *ngIf="item?.person_type == 'pj'">
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label class="text-muted">
                                            Nome fantasia
                                        </label>
                                        <input type="text" name="name" class="form-control"
                                            [value]="item?.company_fantasy_name" readonly>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label class="text-muted">
                                            Razão social
                                        </label>
                                        <input type="text" name="email" class="form-control"
                                            [value]="item?.company_name" readonly>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label class="text-muted">
                                            E-mail
                                        </label>
                                        <input type="text" name="email" class="form-control"
                                            [value]="item?.company_email" readonly>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label class="text-muted">
                                            Telefone
                                        </label>
                                        <input type="text" name="email" class="form-control"
                                            [value]="item?.company_phone" readonly>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label class="text-muted">
                                            Inscrição estadual
                                        </label>
                                        <input type="text" name="email" class="form-control"
                                            [value]="item?.company_state_registration" readonly>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label class="text-muted">
                                            Inscrição municipal
                                        </label>
                                        <input type="text" name="email" class="form-control"
                                            [value]="item?.company_municipal_registration" readonly>
                                    </div>
                                </div>

                                <div class="col-12 pt-5">
                                    <h2 class="header-title">
                                        Informações de endereço
                                    </h2>
                                    <hr>
                                </div>

                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label class="text-muted">
                                            Rua
                                        </label>
                                        <input type="text" name="email" class="form-control"
                                            [value]="item?.address_street" readonly>
                                    </div>
                                </div>
                                <div class="col-12 col-md-2">
                                    <div class="form-group">
                                        <label class="text-muted">
                                            Número
                                        </label>
                                        <input type="text" name="email" class="form-control"
                                            [value]="item?.address_number" readonly>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <label class="text-muted">
                                            CEP
                                        </label>
                                        <input type="text" name="email" class="form-control"
                                            [value]="item?.address_zip_code" readonly>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <label class="text-muted">
                                            Bairro
                                        </label>
                                        <input type="text" name="email" class="form-control"
                                            [value]="item?.address_neighborhood" readonly>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label class="text-muted">
                                            Cidade
                                        </label>
                                        <input type="text" name="email" class="form-control"
                                            [value]="item?.address_city" readonly>
                                    </div>
                                </div>
                                <div class="col-12 col-md-2">
                                    <div class="form-group">
                                        <label class="text-muted">
                                            Estado
                                        </label>
                                        <input type="text" name="email" class="form-control"
                                            [value]="item?.address_state" readonly>
                                    </div>
                                </div>

                                <div class="col-12 col-md-12">
                                    <div class="form-group">
                                        <label class="text-muted">
                                            Complemento
                                        </label>
                                        <input type="text" name="email" class="form-control"
                                            [value]="item?.address_complement" readonly>
                                    </div>
                                </div>



                                <div class="col-12 pt-5">
                                    <h2 class="header-title">
                                        Informações do responsável
                                    </h2>
                                    <hr>
                                </div>


                                <div class="col-12 col-md-12">
                                    <div class="form-group">
                                        <label class="text-muted">
                                            Nome
                                        </label>
                                        <input type="text" name="email" class="form-control"
                                            [value]="item?.responsible_name" readonly>
                                    </div>
                                </div>




                                <div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <label class="text-muted">
                                            CPF
                                        </label>
                                        <input type="text" name="email" class="form-control"
                                            [value]="item?.responsible_cpf" readonly>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <label class="text-muted">
                                            Data de nascimento
                                        </label>
                                        <input type="text" name="email" class="form-control"
                                            [value]="item?.responsible_birth | date:'dd/MM/yyyy'" readonly>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <label class="text-muted">
                                            Telefone
                                        </label>
                                        <input type="text" name="email" class="form-control"
                                            [value]="item?.responsible_phone" readonly>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label class="text-muted">
                                            Rua
                                        </label>
                                        <input type="text" name="email" class="form-control"
                                            [value]="item?.responsible_address_street" readonly>
                                    </div>
                                </div>
                                <div class="col-12 col-md-2">
                                    <div class="form-group">
                                        <label class="text-muted">
                                            Número
                                        </label>
                                        <input type="text" name="email" class="form-control"
                                            [value]="item?.responsible_address_number" readonly>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <label class="text-muted">
                                            CEP
                                        </label>
                                        <input type="text" name="email" class="form-control"
                                            [value]="item?.responsible_address_zip_code" readonly>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <label class="text-muted">
                                            Bairro
                                        </label>
                                        <input type="text" name="email" class="form-control"
                                            [value]="item?.responsible_address_neighborhood" readonly>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label class="text-muted">
                                            Cidade
                                        </label>
                                        <input type="text" name="email" class="form-control"
                                            [value]="item?.responsible_address_city" readonly>
                                    </div>
                                </div>
                                <div class="col-12 col-md-2">
                                    <div class="form-group">
                                        <label class="text-muted">
                                            Estado
                                        </label>
                                        <input type="text" name="email" class="form-control"
                                            [value]="item?.responsible_address_state" readonly>
                                    </div>
                                </div>

                                <div class="col-12 col-md-12">
                                    <div class="form-group">
                                        <label class="text-muted">
                                            Complemento
                                        </label>
                                        <input type="text" name="email" class="form-control"
                                            [value]="item?.responsible_address_complement" readonly>
                                    </div>
                                </div>

                                <div class="col-12 pt-5">
                                    <h2 class="header-title">
                                        Informações bancárias
                                    </h2>
                                    <hr>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <label class="text-muted">
                                            Banco
                                        </label>
                                        <input type="text" name="email" class="form-control"
                                            [value]="item?.account_bank_code ? item?.account_bank_code+'-'+item?.account_bank_name : ''"
                                            readonly>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <label class="text-muted">
                                            Agência
                                        </label>
                                        <input type="text" name="email" class="form-control"
                                            [value]="item?.account_agency_digit ? item?.account_agency+'-'+item?.account_agency_digit : item?.account_agency"
                                            readonly>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <label class="text-muted">
                                            Conta
                                        </label>
                                        <input type="text" name="email" class="form-control"
                                            [value]="item?.account_number_digit ? item?.account_number+'-'+item?.account_number_digit : item?.account_number"
                                            readonly>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label class="text-muted">
                                            Data Criação
                                        </label>
                                        <input type="text" name="email" class="form-control"
                                            [value]="item?.created_at | date:'dd/MM/yyyy'" readonly>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>