<app-navbar [breadcrumbLink]="PathRoutes.Orders.List" [breadcrumbLinkName]="'Pedidos'" [breadcrumbCurrent]="'Detalhes'">
</app-navbar>
<app-sidebar></app-sidebar>
<div class="main-content pt-2 py-md-7">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 col-xl-10">
        <div class="header">
          <div class="header-body">
            <div class="row align-items-center">
              <div class="col">
                <h1 class="header-title">
                  Detalhes do Pedido
                </h1>
              </div>
              <!-- <div class="col-auto">
                                <button class="btn btn-outline-secondary btn-del"
                                    *ngIf="item?.status != 'concluido' && item?.status != 'cancelado'"
                                    data-target="#modalCancel" data-toggle="modal">
                                    <i class="fe fe-x mr-1"></i>
                                    Cancelar Pedido
                                </button>
                            </div> -->
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-12 text-right">
                  <button class="btn btn-link" (click)="detail()">
                    Pedido relacionado ao Orçamento #{{item?.budget_id}}
                  </button>
                </div>
                <div class="col-12 col-md-6">

                  <div class="form-group">
                    <label class="text-muted">
                      Pedido
                    </label>
                    <input type="text" class="form-control" [value]="'#'+item?.id" readonly>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="form-group">
                      <label class="text-muted">
                          Valor
                      </label>
                      <input type="text" class="form-control"
                          [value]="item?.total_value | currency: 'BRL'" readonly>
                  </div>
              </div>
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label class="text-muted">
                      Usuário
                    </label>
                    <input type="text" class="form-control" [value]="item?.user?.name || item?.user?.company_name"
                      readonly>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label class="text-muted">
                      Fornecedor
                    </label>
                    <input type="text" class="form-control" [value]="item?.provider?.company_name" readonly>
                  </div>
                </div>
                <div class="col-12">
                  <label class="text-muted">
                    Status
                  </label>
                  <div class="input-group input-group-merge">
                    <input type="text" name="email" class="form-control form-control-appended"
                      [value]="helper.formattedStatus[item?.status]" readonly>
                  </div>
                </div>


              </div>
            </form>
          </div>
        </div>
        <ul class="nav nav-tabs nav-overflow header-tabs">
          <li class="nav-item">
            <a class="nav-link disabled">
              Items
            </a>
          </li>
        </ul>
        <hr class="mb-5">
        <div class="card">
          <div class="table-responsive">
            <table class="table table-sm table-hover table-nowrap card-table">
              <thead>
                <tr>
                  <th *ngFor="let column of columns">
                    <a class="text-muted">{{ column }}</a>
                  </th>
                </tr>
              </thead>
              <tbody class="list font-size-base">
                <tr *ngFor="let product of item?.products">
                    <td>
                        <span>{{ product.product.description }}</span>
                    </td>
                    <td width="15%">
                        <span>{{ product.qtd }}</span>
                    </td>
                    <td width="15%">
                        <span>{{ product.value | currency: 'BRL' }}</span>
                    </td>
                    <td width="15%">
                        <span>{{ (product.value * product.qtd) | currency: 'BRL' }}</span>
                    </td>
                    <td *ngIf="product.installments" width="15%">
                        <span>{{product.installments}}x de {{ (product.value * product.qtd) / product.installments | currency: 'BRL' }}</span>
                    </td>
                    <td *ngIf="!product.installments" width="15%">
                        <span>A vista</span>
                    </td>
                </tr>

            </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modalCancel" tabindex="-1" role="dialog" aria-modal="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-card card">
        <div class="card-header">
          <h4 class="card-header-title">Motivo de Cancelamento</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="card-body">
          <form [formGroup]="form">
            <div class="form-group pt-3">
              <label class="control-label">Digite o motivo pelo qual está cancelando o pedido</label>
              <textarea formControlName="reason_for_cancellation" placeholder="Digite o motivo" class="form-control"
                rows="5"
                [ngClass]="{'is-invalid': form.controls['reason_for_cancellation'].touched && !form.controls['reason_for_cancellation'].valid }"></textarea>
              <small class="text-danger" *ngIf="form.invalid && form.controls['reason_for_cancellation'].touched">Digite
                o
                motivo</small>
            </div>
            <div class="form-group">
              <button class="btn btn-danger" (click)="changeStatus('cancelado')" [disabled]="form.invalid">
                Confirmar cancelamento
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
