.status-success{
    color: #00d97e;
    border-color: #ccf7e5 !important;
    background-color: #ccf7e5;
}
.status-warning{
    color: #f6c343;
    border-color: #fdf3d9 !important;
    background-color: #fdf3d9;
}
.status-danger{
    color: #e63757;
    border-color: #fad7dd !important;
    background-color: #fad7dd;
}
.status-info{
    color: #39afd1;
    border-color: #d7eff6 !important;
    background-color: #d7eff6;
}