<app-navbar
    [breadcrumbCurrent]="'Sorteios (Ganhadores)'"
    ></app-navbar>
<app-sidebar></app-sidebar>
<div class="main-content pt-2 py-md-7">
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-10 col-12">
                <div class="header">
                    <div class="header-body">
                        <div class="row align-items-center">
                            <div class="col">
                                <h1 class="header-title text-truncate">
                                    Sorteios (Ganhadores)
                                </h1>
                            </div>
                            <div class="col-sm-auto">
                               
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-raffle">
                                    <span class="fe fe-plus mr-2"></span>
                                    Realizar sorteio
                                  </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card" [ngClass]="{'card-mb-0': !loading && items.length == 0}">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                                <form>
                                    <div class="input-group input-group-flush">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fe fe-search"></i>
                                            </span>
                                        </div>
                                        <input class="list-search form-control" type="search" placeholder="Pesquisar" (input)="search($event)">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card card-inactive" *ngIf="loading">
                        <div class="card-body d-flex justify-content-center align-items-center" style="height:20rem">
                            <div class="spinner-border text-secondary" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-sm table-hover table-nowrap card-table">
                            <thead>
                                <tr>
                                    <th *ngFor="let column of columns">
                                        <a class="text-muted">{{column}}</a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="list font-size-base">
                                <tr *ngFor="let item of items;">
                                    <td>
                                        <span>{{ item?.user?.name }}</span>
                                    </td>
                                    <td>
                                        <span>{{ item?.user?.email }}</span>
                                    </td>
                                    <td>
                                        <span class="badge badge-soft-success">{{ item?.value | currency: 'BRL' }}</span>
                                    </td>
                                    <td>
                                        <span>{{ item?.created_at | date: 'dd/MM/yyyy' }}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <app-empty-state *ngIf="!loading && items.length == 0"></app-empty-state>
                <div class="row pb-4">
                    <div class="col-12 text-center">
                        <button *ngIf="btnLoading" class="btn btn-white" (click)="loadMore()"
                            [disabled]="loadingMore">Carregar mais<span class="fe fe-chevrons-down ml-2"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




  <div class="modal fade show" id="add-raffle" tabindex="-1" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-card card" data-list="{&quot;valueNames&quot;: [&quot;name&quot;]}">
          <div class="card-header">

            <!-- Title -->
            <h4 class="card-header-title" id="exampleModalCenterTitle">
              Realizar sorteio
            </h4>

            <!-- Close -->
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>

          </div>
       
          <div class="card-body">

            <!-- List group -->
           
                <div class="row align-items-center">


                    <div class="col-12">


                        <p>Digite abaixo o valor que deseja sortear.</p>

                        <div class="form-group">
                        <input class="form-control" type="text" [(ngModel)]="raffleVal">
                        </div>

                    </div>

                    <div class="col-12 text-right">
                        <button data-dismiss="modal" aria-label="Close" class="btn btn-default">Cancelar</button>

                        <button class="btn btn-primary" [disabled]="rafLoading" (click)="runRaffle()">Concluir</button>
                    </div>
                 
                </div> <!-- / .row -->
         

          </div>
        </div>
      </div>
    </div>
  </div>