<app-navbar [breadcrumbCurrent]="'Financeiro'"></app-navbar>
<app-sidebar></app-sidebar>
<div class="main-content pt-2 py-md-7">
  <div class="container-fluid">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-10 col-12">
        <div class="header">
          <div class="header-body">
            <div class="row align-items-center">
              <div class="col-sm">
                <h1 class="header-title text-truncate mb-3">
                  Financeiro
                </h1>
              </div>
              <!-- <div class="col-md-auto">
                <select class="custom-select" data-toggle="select" (change)="periodChanged($event)">
                    <option value="">Selecione um período</option>
                    <option *ngFor="let period of periods; let i = index" [value]="i">{{ period }}</option>
                </select>
            </div> -->

            <div class="col-md-auto">
              <select class="custom-select" data-toggle="select" (change)="typeChanged($event)">
                  <option value="">Selecione o tipo</option>
                  <option *ngFor="let t of types; let i = index" [value]="t.val">{{ t.text }}</option>
              </select>
          </div>
          <div class="col-md-auto">
            <select class="custom-select" data-toggle="select" (change)="usertypeChanged($event)">
                <!-- <option value="">Selecione o usuário</option> -->
                <option *ngFor="let t of userTypes; let i = index" [value]="t.val">{{ t.text }}</option>
            </select>
        </div>
            <div class="col-4">
                <app-flatpickr (change)="dateChange($event)"></app-flatpickr>
            </div>
            </div>
            <!--<hr>
             <div class="row mt-5">
              <div class="col-12 col-lg-6 col-xl">
                <div class="card">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col">
                        <h6 class="text-uppercase text-muted mb-2">
                          Total de entrada
                        </h6>
                        <span class="h2 mb-0">
                          R$ 24.500,00
                        </span>
                      </div>
                      <div class="col-auto">
                        <span class="h2 fe fe-arrow-down text-success mb-0"></span>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="col-12 col-lg-6 col-xl">
                <div class="card">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col">
                        <h6 class="text-uppercase text-muted mb-2">
                          Total resgatado
                        </h6>
                        <span class="h2 mb-0">
                          R$ 300,00
                        </span>
                      </div>
                      <div class="col-auto">
                        <span class="h2 fe fe-arrow-up text-danger mb-0"></span>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="col-12 col-lg-6 col-xl">
                <div class="card">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col">
                        <h6 class="text-uppercase text-muted mb-2">
                          Lucro líquido
                        </h6>
                        <span class="h2 mb-0">
                          R$ 200.000,00
                        </span>
                      </div>
                      <div class="col-auto">
                        <span class="h2 fe fe-dollar-sign text-primary mb-0"></span>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

            </div> -->
          </div>
        </div>
        <div class="card" [ngClass]="{'card-mb-0': !loading && items.length == 0}">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col">
                <form>
                  <div class="input-group input-group-flush">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fe fe-search"></i>
                      </span>
                    </div>
                    <input class="list-search form-control" type="search" placeholder="Pesquisar"
                      (input)="search($event)">
                  </div>
                </form>
              </div>

            </div>
          </div>
          <div class="card card-inactive" *ngIf="loading">
            <div class="card-body d-flex justify-content-center align-items-center" style="height:20rem">
              <div class="spinner-border text-secondary" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-sm table-hover table-nowrap card-table">
              <thead>
                <tr>
                  <th *ngFor="let column of columns">
                    <a class="text-muted">{{ column }}</a>
                  </th>
                </tr>
              </thead>
              <tbody class="list font-size-base">
                <tr *ngFor="let item of items; let i = index">
                  <td *ngIf="filters.user_type == 'establishment'">
                    <span>{{ item.establishment?.name }}</span>
                  </td>
                  <td *ngIf="filters.user_type == 'user'">
                    <span>{{ item.user?.name }}</span>
                  </td>
                  <td>
                    <span>{{ helper.transactionType(item.type) }}</span>
                  </td>
                  <td>
                    <span>{{ item.created_at | date: 'dd/MM/yyyy' }}</span>
                  </td>
                  <td>
                    <span>{{ item.value | currency: 'BRL' }}</span>
                  </td>
                  <td>
                    <span>{{ item.fee | currency: 'BRL' }}</span>
                  </td>
                  <td>
                    <span>{{ item.value_received | currency: 'BRL' }}</span>
                  </td>
                  <td>
                    <span>{{ helper.paymentMethod(item.payment_method) }}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <app-empty-state *ngIf="!loading && items.length == 0"></app-empty-state>
        <div class="row">
          <div class="col-12 text-center">
            <button *ngIf="btnLoading" class="btn btn-white" (click)="loadMore()" [disabled]="loadingMore">Carregar
              mais<span class="fe fe-chevrons-down ml-2"></span></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
