<app-navbar [breadcrumbCurrent]="'Financeiro'"></app-navbar>
<app-sidebar></app-sidebar>
<div class="main-content pt-2 py-md-7">
  <div class="container-fluid">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-10 col-12">
        <div class="header">
          <div class="header-body">
            <div class="row align-items-center">
              <div class="col-sm">
                <h1 class="header-title text-truncate mb-3">
                  Requisições de pagamento
                </h1>
              </div>

            </div>
          </div>
        </div>
        <div class="card" [ngClass]="{'card-mb-0': !loading && items.length == 0}">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col">
                <form>
                  <div class="input-group input-group-flush">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fe fe-search"></i>
                      </span>
                    </div>
                    <input class="list-search form-control" type="search" placeholder="Pesquisar"
                      (input)="search($event)">
                  </div>
                </form>
              </div>

            </div>
          </div>
          <div class="card card-inactive" *ngIf="loading">
            <div class="card-body d-flex justify-content-center align-items-center" style="height:20rem">
              <div class="spinner-border text-secondary" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-sm table-hover table-nowrap card-table">
              <thead>
                <tr>
                  <th *ngFor="let column of columns">
                    <a class="text-muted">{{ column }}</a>
                  </th>
                </tr>
              </thead>
              <tbody class="list font-size-base">
                <tr *ngFor="let item of items; let i = index" (click)="detail(item.id)" class="tr-link">
                  <td>
                    <span>{{ item.establishment.name }}</span>
                  </td>
                  <td *ngIf="item.status == 'concluido'">
                    <span class="badge badge-soft-success">
                      Resgatado <span class="fe fe-check align-middle"></span>
                    </span>
                  </td>
                  <td *ngIf="item.status == 'pendente'">
                    <span class="badge badge-soft-info">
                      Pendente <span class="fe fe-credit-card align-middle"></span>
                    </span>
                  </td>

                  <td *ngIf="item.status == 'cancelado'">
                    <span class="badge badge-soft-danger">
                      Cancelado <span class="fe fe-credit-card align-middle"></span>
                    </span>
                  </td>
                  <td>
                    <span>{{ item.value | currency: 'BRL' }}</span>
                  </td>
                  <td class="text-right table-menu">
                    <div class="dropdown">
                      <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fe fe-more-vertical"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right">
                        <button (click)="openRedeemModal(i)" class="dropdown-item ">
                          Liberar crédito
                        </button>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <app-empty-state *ngIf="!loading && items.length == 0"></app-empty-state>
        <div class="row">
          <div class="col-12 text-center">
            <button *ngIf="btnLoading" class="btn btn-white" (click)="loadMore()" [disabled]="loadingMore">Carregar
              mais<span class="fe fe-chevrons-down ml-2"></span></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="redeemModal" tabindex="-1" role="dialog" aria-modal="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-card card">
              <div class="card-header">
                  <h4 class="card-header-title">Liberação de crédito</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                  </button>
              </div>
              <div class="card-body">
                  <form [formGroup]="form">
                      <div class="form-group pt-3">
                          <label class="control-label">Informe a senha para aprovar a solicitação de crédito de {{items[currentReqIndex]?.value | currency: 'BRL' }} para {{items[currentReqIndex]?.establishment.name}}</label>
                          <input type="password" formControlName="password" placeholder="Informe sua senha"
                              class="form-control"
                              [ngClass]="{'is-invalid': form.controls['password'].touched && !form.controls['password'].valid }" />
                          <small class="text-danger"
                              *ngIf="form.invalid && form.controls['password'].touched">Informe a senha</small>
                      </div>
                      <div class="form-group text-right">
                          <button class="btn btn-primary" (click)="redeem()"
                              [disabled]="form.invalid">
                              Aprovar solicitação
                          </button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
