<div class="container-fluid" >
    <div class="row align-items-center justify-content-center vh-100"  style="background-color: #f6f7f8;" >
        <div class="col-4 my-5"  >
            <h1 class="display-4 text-center mb-3">
                <img src="assets/img/logo-dark.png" />
            </h1>
            <p class="text-muted text-center mb-5">
                Sistema Administrativo
            </p>
            <form [formGroup]="form" (submit)="login()">
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control" formControlName="email" placeholder="Digite seu email"
                        [ngClass]="{'is-invalid': form.controls.email.touched && form.controls.email.invalid}">
                    <small *ngIf="form.controls.email.touched && form.controls.email.invalid" class="text-danger">Digite
                        seu
                        email</small>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <label>Senha</label>
                        </div>
                    </div>
                    <input type="password" class="form-control" formControlName="password"
                        placeholder="Digite sua senha"
                        [ngClass]="{'is-invalid': form.controls.password.touched && form.controls.password.invalid}">
                    <small *ngIf="form.controls.password.touched && form.controls.password.invalid"
                        class="text-danger">Digite
                        sua senha</small>
                </div>
                <div class="form-group text-danger text-center">
                    <small>{{ message }}</small>
                </div>
                <button class="btn btn-lg btn-block btn-primary mb-3" [disabled]="form.invalid">
                    Entrar
                    <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                </button>

            </form>
        </div>
    </div>
</div>
