<app-navbar [breadcrumbCurrent]="'Produtos'"></app-navbar>
<app-sidebar></app-sidebar>
<div class="main-content pt-2 py-md-7">
  <div class="container-fluid">
    <div class="row justify-content-center align-items-center">
      <div class="col-12 col-md-10">
        <div class="header">
          <div class="header-body">
            <div class="row align-items-center">
              <div class="col-10">
                <h1 class="header-title text-truncate">
                  Produtos
                </h1>
              </div>
              <div class="col-2 text-right">
                <a routerLink="{{PathRoutes.Products.Add}}" class="btn btn-primary">
                  <span class="fe fe-plus mr-2"></span>
                  Adicionar
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="card" [ngClass]="{'card-mb-0': !loading && items.length == 0}">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col">
                <form>
                  <div class="input-group input-group-flush">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fe fe-search"></i>
                      </span>
                    </div>
                    <input class="list-search form-control" type="search" placeholder="Pesquisar"
                      (input)="search($event)">
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="card card-inactive" *ngIf="loading">
            <div class="card-body d-flex justify-content-center align-items-center" style="height:20rem">
              <div class="spinner-border text-secondary" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-sm table-hover  card-table">
              <thead>
                <tr>
                  <th *ngFor="let column of columns">
                    <a class="text-muted">{{ column }}</a>
                  </th>
                </tr>
              </thead>
              <tbody class="list font-size-base">
                <tr *ngFor="let item of filteredItems;" (click)="detail(item.id)" class="tr-link">
                  <td>
                    <img style="max-width: 100px; max-height: 100px;" [src]="item.error_picture || (environment.baseStorageUrl+item.picture)"(error)="item.error_picture = 'assets/img/placeholder-img.png'" alt="">
                  </td>
                  <td>
                    <span>{{ item.manufacturer.title }} {{ item.description }}</span>
                  </td>
                  <td>
                    <span>{{ item.manuals?.length || '0' }}</span>
                  </td>
                  <td>
                    <span>{{ item.created_at | date:'dd/MM/yyy' }}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <app-empty-state *ngIf="!loading && filteredItems.length == 0"></app-empty-state>
        <!-- <div class="row pb-4">
                    <div class="col-12 text-center">
                        <button *ngIf="btnLoading" class="btn btn-white" (click)="loadMore()"
                            [disabled]="loadingMore">Carregar mais<span class="fe fe-chevrons-down ml-2"></span></button>
                    </div>
                </div> -->
      </div>
    </div>
  </div>
</div>
