<div class="toast notification-toast" [hidden]="!notification"
    [ngClass]="{'toast-success': notification?.success, 'toast-danger': !notification?.success}" role="alert"
    aria-live="assertive" aria-atomic="true" data-autohide="false">
    <div class="toast-header">
        <span class="fe mr-4" [ngClass]="{'fe-alert-octagon': !notification?.sucess, 'fe-check-square': notification?.success}"></span>
        <strong class="mr-auto text-white">
            {{notification?.title}}
        </strong>
        <button type="button" class="ml-2 mb-1 close text-white" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body">
        {{notification?.message}}
    </div>
</div>
<router-outlet>
</router-outlet>