.toast-success {
    position: fixed;
    z-index: 1040;
    right: 3rem;
    top: 7rem;
    background-color: #1e7c34;
    color: #FFF;
    box-shadow: 0 2rem 5rem 0 rgba(0,0,0,0.50);
}

.toast-success .toast-header {
    color: #FFF;
    background-color: #28a745;
}

.toast-danger {
    position: fixed;
    z-index: 1040;
    right: 3rem;
    top: 7rem;
    background-color: #b32a38;
    color: #FFF;
    box-shadow: 0 2rem 5rem 0 rgba(0,0,0,0.50);
}

.toast-danger .toast-header {
    color: #FFF;
    background-color: #dc3545;
}