<app-navbar [breadcrumbLink]="PathRoutes.Providers.List" [breadcrumbLinkName]="'Fornecedores'"
  [breadcrumbCurrent]="'Detalhes'">
</app-navbar>
<app-sidebar></app-sidebar>
<div class="main-content pt-2 py-md-7">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 col-xl-8">
        <div class="header">
          <div class="header-body">
            <div class="row align-items-center">
              <div class="col">
                <h1 class="header-title text-truncate">
                  Detalhe do fornecedor
                </h1>
              </div>
              <div class="col-auto text-right">
                <a routerLink="{{PathRoutes.Providers.Edit}}/{{id}}" class=" mr-4 btn btn-primary">
                  <span class="fe fe-edit mr-2"></span>
                  Editar
                </a>
                <button *ngIf="item?.active == 1" (click)="deActivate()" class="btn btn-danger">
                  <span class="fa fa-times mr-2"></span>
                  Desativar
                </button>
                <button *ngIf="item?.active == 0" (click)="activate()" class="btn btn-success">
                  <span class="fe fe-check mr-2"></span>
                  Reativar
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-12 col-md-12">
                  <div class="form-group">
                    <label class="text-muted">
                      Nome fantasia
                    </label>
                    <input type="text" name="name" class="form-control" [value]="item?.company_fantasy_name" readonly>
                  </div>
                </div>
                <div class="col-12 col-md-8">
                  <div class="form-group">
                    <label class="text-muted">
                      Razão social
                    </label>
                    <input type="text" class="form-control" [value]="item?.company_name" readonly>
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="text-muted">
                      CNPJ
                    </label>
                    <input type="text" name="name" class="form-control" [value]="item?.company_cnpj" readonly>
                  </div>
                </div>

                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label class="text-muted">
                      Inscrição estadual
                    </label>
                    <input type="text" name="email" class="form-control" [value]="item?.company_state_registration"
                    readonly>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label class="text-muted">
                      Inscrição municipal
                    </label>
                    <input type="text" name="email" class="form-control" [value]="item?.company_municipal_registration"
                    readonly>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label class="text-muted">
                      E-mail de acesso
                    </label>
                    <input type="text" name="email" class="form-control" [value]="item?.email" readonly>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label class="text-muted">
                      Telefone
                    </label>
                    <input type="text" name="email" class="form-control" [value]="item?.company_phone" readonly>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label class="text-muted">
                      Email de contato 1
                    </label>
                    <input type="text" name="email" class="form-control" [value]="item?.company_email" readonly>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label class="text-muted">
                      Email de contato 2
                    </label>
                    <input type="text" name="email" class="form-control" [value]="item?.company_email2" readonly>
                  </div>
                </div>

                <div class="col-12 pt-5">
                  <h2 class="header-title">
                    Informações de endereço
                  </h2>
                  <hr>
                </div>

                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label class="text-muted">
                      Rua
                    </label>
                    <input type="text" name="email" class="form-control" [value]="item?.address_street" readonly>
                  </div>
                </div>
                <div class="col-12 col-md-2">
                  <div class="form-group">
                    <label class="text-muted">
                      Número
                    </label>
                    <input type="text" name="email" class="form-control" [value]="item?.address_number" readonly>
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="text-muted">
                      CEP
                    </label>
                    <input type="text" name="email" class="form-control" [value]="item?.address_zip_code" readonly>
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="text-muted">
                      Bairro
                    </label>
                    <input type="text" name="email" class="form-control" [value]="item?.address_neighborhood" readonly>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label class="text-muted">
                      Cidade
                    </label>
                    <input type="text" name="email" class="form-control" [value]="item?.address_city" readonly>
                  </div>
                </div>
                <div class="col-12 col-md-2">
                  <div class="form-group">
                    <label class="text-muted">
                      Estado
                    </label>
                    <input type="text" name="email" class="form-control" [value]="item?.address_state" readonly>
                  </div>
                </div>

                <div class="col-12 col-md-12">
                  <div class="form-group">
                    <label class="text-muted">
                      Complemento
                    </label>
                    <input type="text" name="email" class="form-control" [value]="item?.address_complement" readonly>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
