<app-navbar *ngIf="!id"
    [breadcrumbLink]="PathRoutes.Admins.List"
    [breadcrumbLinkName]="'Adiministradores'"
    [breadcrumbCurrent]="'Adicionar'"
    ></app-navbar>
<app-navbar *ngIf="id"
    [breadcrumbLink]="PathRoutes.Admins.List"
    [breadcrumbLinkName]="'Adiministradores'"
    [breadcrumbSubLink]="PathRoutes.Admins.Detail+'/'+id"
    [breadcrumbSubLinkName]="'Detalhes'"
    [breadcrumbCurrent]="'Editar'"
    ></app-navbar>
<app-sidebar></app-sidebar>
<div class="main-content pt-2 py-md-7">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10 col-xl-8">
                <div class="header">
                    <div class="header-body">
                        <div class="row align-items-center">
                            <div class="col">
                                <h1 class="header-title">
                                    {{ id ? 'Editar Administrador' : 'Adicionar Administrador' }}
                                </h1>
                            </div>
                        </div> 
                    </div>
                </div>
                <!-- Form -->
                <div class="card">
                    <div class="card-body">
                        <form [formGroup]="form" (submit)="save()">
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label>Nome<span class="text-danger">*</span></label>
                                        <input type="text" formControlName="name" class="form-control" [ngClass]="{'is-invalid': form.controls['name'].touched && !form.controls['name'].valid}" placeholder="Nome">
                                        <small class="text-danger" *ngIf="form.controls['name'].touched && !form.controls['name'].valid">
                                            Preencha o nome
                                        </small>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label>E-mail<span class="text-danger">*</span></label>
                                        <input type="text" formControlName="email" class="form-control" [ngClass]="{'is-invalid': form.controls['email'].touched && !form.controls['email'].valid}" placeholder="Email">
                                        <small class="text-danger" *ngIf="form.controls['email'].touched && !form.controls['email'].valid">
                                            Preencha o email
                                        </small>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6" *ngIf="!id">
                                    <div class="form-group">
                                        <label>Senha<span class="text-danger">*</span></label>
                                        <input type="password" formControlName="password" class="form-control mb-3" [ngClass]="{'is-invalid': form.controls['password'].touched && !form.controls['password'].valid}" placeholder="Senha">
                                        <small class="text-danger" *ngIf="form.controls['password'].touched && !form.controls['password'].valid">
                                            Preencha a senha
                                        </small>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6" *ngIf="!id">
                                    <div class="form-group">
                                        <label>Confirmar Senha<span class="text-danger">*</span></label>
                                        <input type="password" formControlName="confirm_password" class="form-control" [ngClass]="{'is-invalid': form.controls['confirm_password'].touched && form.controls['password'].value != form.controls['confirm_password'].value}" placeholder="Confirme sua senha">
                                        <small class="text-danger" *ngIf="form.controls['confirm_password'].touched && form.controls['password'].value != form.controls['confirm_password'].value">
                                            As senhas não conferem
                                        </small>
                                    </div>
                                </div>
                                <div class="col-12 text-center mb-4" *ngIf="message">
                                    <small class="text-danger">{{ message }}</small>
                                </div>
                            </div>
                            <a class="btn btn-light d-block btn-block" *ngIf="id" routerLink="{{ PathRoutes.Admins.ChangePass }}/{{id}}">
                                Alterar Senha
                            </a>
                            <button class="btn btn-primary d-block btn-block"
                            [disabled]="loading || form.invalid || (form.controls.password.value != form.controls.confirm_password.value && !id)">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                {{ id ? 'Editar' : 'Concluir' }}
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>