<app-navbar 
    [breadcrumbLink]="PathRoutes.Admins.List"
    [breadcrumbLinkName]="'Adiministradores'"
    [breadcrumbCurrent]="'Detalhes'"
    >
</app-navbar>
<app-sidebar></app-sidebar>
<div class="main-content pt-2 py-md-7">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10 col-xl-8">
                <div class="header">
                    <div class="header-body">
                        <div class="row align-items-center">
                            <div class="col">
                                <h1 class="header-title mb-3">
                                    Detalhes do Adiministrador
                                </h1>
                            </div>
                            <div class="col-auto" *ngIf="item?.active == 1" (click)="changeStatus(0)">
                                <button class="btn btn-outline-secondary btn-del">
                                    <span class="fe fe-x mr-2"></span>
                                    Desativar
                                </button>
                            </div>
                            <div class="col-auto" *ngIf="item?.active == 0" (click)="changeStatus(1)">
                                <button class="btn btn-success">
                                    <span class="fe fe-check mr-2"></span>
                                    Ativar
                                </button>
                            </div>
                            <div class="col-auto">
                                <a class="btn btn-white" routerLink="{{PathRoutes.Admins.Edit}}/{{id}}">
                                    <span class="fe fe-edit mr-2"></span>
                                    Editar
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label class="text-muted">
                                            Nome
                                        </label>
                                        <input type="text" class="form-control" [value]="item?.name"
                                            readonly>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label class="text-muted">
                                            E-mail
                                        </label>
                                        <input type="text" class="form-control" [value]="item?.email"
                                            readonly>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label class="text-muted">Data Criação</label>
                                        <input type="text" class="form-control" [value]="item?.created_at | date: 'dd/MM/yyyy'" readonly>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>