<app-navbar [breadcrumbCurrent]="'Pedidos'"></app-navbar>
<app-sidebar></app-sidebar>
<div class="main-content pt-2 py-md-7">
  <div class="container-fluid">
    <div class="row justify-content-center align-items-center">
      <div class="col-12 col-md-10">
        <div class="header">
          <div class="header-body">
            <div class="row align-items-center">
              <div class="col">
                <h1 class="header-title text-truncate">
                  Pedidos
                </h1>
              </div>
            </div>
          </div>
        </div>
        <div class="card" [ngClass]="{'card-mb-0': !loading && items.length == 0}">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col">
                <form>
                  <div class="input-group input-group-flush">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fe fe-search"></i>
                      </span>
                    </div>
                    <input class="list-search form-control" type="search" placeholder="Pesquisar"
                      (input)="search($event)">
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="card card-inactive" *ngIf="loading">
            <div class="card-body d-flex justify-content-center align-items-center" style="height:20rem">
              <div class="spinner-border text-secondary" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-sm table-hover table-nowrap card-table">
              <thead>
                <tr>
                  <th *ngFor="let column of columns">
                    <a class="text-muted">{{ column }}</a>
                  </th>
                </tr>
              </thead>
              <tbody class="list font-size-base">
                <tr *ngFor="let item of items;" (click)="detail(item.id)" class="tr-link">
                  <td>
                    <span>{{ item?.id }}</span>
                  </td>
                  <td>
                    <span>{{ item?.user?.name }}</span>
                  </td>
                  <td>
                    <span>{{ item?.provider?.company_name }}</span>
                  </td>
                  <td>
                    {{ helper.formattedStatus[item?.status] }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <app-empty-state *ngIf="!loading && items.length == 0"></app-empty-state>
        <div class="row  pb-4">
          <div class="col-12 text-center">
            <button *ngIf="btnLoading" class="btn btn-white" (click)="loadMore()" [disabled]="loadingMore">Carregar
              mais<span class="fe fe-chevrons-down ml-2"></span></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
