<app-navbar
    [breadcrumbCurrent]="'Home'"
    ></app-navbar>
<app-sidebar></app-sidebar>
<div class="main-content pt-2 py-md-7">
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
            <div class="col-10">
                <div class="header">
                    <div class="header-body">
                        <div class="row align-items-center">
                            <div class="col">
                                <h1 class="header-title text-truncate">
                                    Home
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8">
                        <a routerLink="{{PathRoutes.Products.List}}">
                            <div class="card card-fill">
                                <div class="card-body">
                                    <h1 class="text-dark"><i class="fas fa-wind display-4 text-primary mr-3"></i>Produtos</h1>
                                    <p *ngIf="productsCount == 0" class="text-muted pt-4">
                                        Nenhum produto cadastrado no momento.<br>
                                    </p>
                                    <p *ngIf="productsCount > 0" class="text-muted pt-4">
                                        <span class="text-primary display-5">{{ productsCount }}</span> {{ productsCount > 1 ? 'produtos cadastrados' : 'produto cadastrado' }}.<br>
                                        Acesse para ver detalhes, adicionar ou editar produtos.
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <a routerLink="{{PathRoutes.Products.List}}" class="d-flex justify-content-end align-items-center">Acessar</a>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                      <a routerLink="{{PathRoutes.Users.List}}">
                          <div class="card card-fill">
                              <div class="card-body">
                                  <h1 class="text-dark"><i class="fas fa-users display-4 text-primary mr-3"></i>Usuários</h1>
                                  <p *ngIf="usersCount == 0" class="text-muted pt-4">
                                      Nenhum usuário registrado no momento.<br>
                                  </p>
                                  <p *ngIf="usersCount > 0" class="text-muted pt-4">
                                      <span class="text-primary display-5">{{ usersCount }}</span> {{ usersCount > 1 ? 'usuários registrados' : 'usuário registrado' }} no app.<br>
                                      Acesse para poder visualiza-los.
                                  </p>
                              </div>
                              <div class="card-footer">
                                  <a routerLink="{{PathRoutes.Users.List}}" class="d-flex justify-content-end align-items-center">Acessar</a>
                              </div>
                          </div>
                      </a>
                  </div>

                </div>
                <div class="row">
                  <div class="col-md-4">
                    <a routerLink="{{PathRoutes.Providers.List}}">
                        <div class="card card-fill">
                            <div class="card-body">
                                <h1 class="text-dark"><i class="fas fa-truck display-4 text-primary mr-3"></i>Fornecedores</h1>
                                <p *ngIf="providersCount == 0" class="text-muted pt-4">
                                    Nenhum fornecedor registrado no momento.<br>
                                </p>
                                <p *ngIf="providersCount > 0" class="text-muted pt-4">
                                    <span class="text-primary display-5">{{ providersCount }}</span> {{ providersCount > 1 ? 'fornecedores registrados' : 'fornecedor registrado' }}.<br>
                                    Acesse para poder visualiza-los.
                                </p>
                            </div>
                            <div class="card-footer">
                                <a routerLink="{{PathRoutes.Providers.List}}" class="d-flex justify-content-end align-items-center">Acessar</a>
                            </div>
                        </div>
                    </a>
                </div>
                    <div class="col-md-8">
                        <a routerLink="{{PathRoutes.Budgets.List}}">
                            <div class="card card-fill">
                                <div class="card-body">
                                    <h1 class="text-dark"><i class="fas fa-list display-4 text-primary mr-3"></i>Orçamentos</h1>
                                    <p *ngIf="budgetsCount == 0" class="text-muted pt-4">
                                        Nenhum orçamento feito no momento.
                                    </p>
                                    <p *ngIf="budgetsCount > 0" class="text-muted pt-4">
                                        <span class="text-primary display-5">{{ budgetsCount }}</span> {{ budgetsCount > 1 ? 'orçamentos realizados' : 'orçamento realizado' }}.<br>
                                        Acesse para ver detalhes dos orçamentos.
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <a routerLink="{{PathRoutes.Budgets.List}}" class="d-flex justify-content-end align-items-center">Acessar</a>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-12">
                      <a routerLink="{{PathRoutes.Budgets.List}}">
                          <div class="card card-fill">
                              <div class="card-body">
                                  <h1 class="text-dark"><i class="fas fa-file-signature display-4 text-primary mr-3"></i>Pedidos</h1>
                                  <p *ngIf="ordersCount == 0" class="text-muted pt-4">
                                      Nenhum pedido feito no momento.
                                  </p>
                                  <p *ngIf="ordersCount > 0" class="text-muted pt-4">
                                      <span class="text-primary display-5">{{ ordersCount }}</span> {{ ordersCount > 1 ? 'pedidos realizados' : 'pedido realizado' }}.<br>
                                      Acesse para ver detalhes dos pedidos.
                                  </p>
                              </div>
                              <div class="card-footer">
                                  <a routerLink="{{PathRoutes.Budgets.List}}" class="d-flex justify-content-end align-items-center">Acessar</a>
                              </div>
                          </div>
                      </a>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
