<div class="vh-100 d-flex align-items-center bg-auth border-top border-top-2 border-primary" style="display: block;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 col-xl-6 my-5">
                <div class="text-center">
                    <h6 class="text-uppercase text-muted mb-4">
                        
                    </h6>
                    <span class="fe fe-check-circle text-success text-center display-1"></span>
                    <h1 class="display-4 mb-3">
                        Senha alterada com successo
                    </h1>
                    <p class="text-muted mb-4">
                        Acesse o aplicativo com sua nova senha
                    </p>
                    <!-- <a href="index.html" class="btn btn-lg btn-primary">
                        Return to your dashboard
                    </a> -->
                </div>
            </div>
        </div>
    </div>
</div>