<app-navbar [breadcrumbLink]="PathRoutes.Providers.List" [breadcrumbLinkName]="'Fornecedores'"
  [breadcrumbCurrent]="id ? 'Editar' : 'Adicionar'">
</app-navbar>
<app-sidebar></app-sidebar>
<div class="main-content pt-2 py-md-7">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 col-xl-9">
        <div class="header">
          <div class="header-body">
            <div class="row align-items-center">
              <div class="col">
                <h6 class="header-pretitle">
                </h6>
                <h1 class="header-title">
                  {{id ? 'Editar fornecedor' : 'Adicionar fornecedor'}}
                </h1>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <form [formGroup]="form" (submit)="save()">
              <div class="row">

                <div class="col-12 pt-5">
                  <h2 class="header-title">
                    Informações gerais
                  </h2>
                  <hr>
                </div>
                <div class="col-12 col-md-12">
                  <div class="form-group">
                    <label class="text-muted">
                      Nome fantasia
                    </label>
                    <input type="text" formControlName="company_fantasy_name" class="form-control"
                      [ngClass]="{'is-invalid': form.controls['company_fantasy_name'].touched && !form.controls['company_fantasy_name'].valid}">
                    <small class="text-danger"
                      *ngIf="form.controls['company_fantasy_name'].touched && !form.controls['company_fantasy_name'].valid">
                      Nome fantasia inválido
                    </small>
                  </div>
                </div>
                <div class="col-12 col-md-8">
                  <div class="form-group">
                    <label class="text-muted">
                      Razão social
                    </label>
                    <input type="text"  formControlName="company_name" class="form-control"
                      [ngClass]="{'is-invalid': form.controls['company_name'].touched && !form.controls['company_name'].valid}">
                    <small class="text-danger"
                      *ngIf="form.controls['company_name'].touched && !form.controls['company_name'].valid">
                      Razão social inválida
                    </small>
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="text-muted">
                      CNPJ
                    </label>
                    <input type="text" [mask]="helper.masks.cnpj" formControlName="company_cnpj" class="form-control"
                      [ngClass]="{'is-invalid': form.controls['company_cnpj'].touched && !form.controls['company_cnpj'].valid}">
                    <small class="text-danger"
                      *ngIf="form.controls['company_cnpj'].touched && !form.controls['company_cnpj'].valid">
                      CNPJ inválido
                    </small>
                  </div>
                </div>

                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="text-muted">
                      Inscrição estadual
                    </label>
                    <input type="text" [mask]="helper.masks.number(14)" formControlName="company_state_registration" class="form-control"
                      [ngClass]="{'is-invalid': form.controls['company_state_registration'].touched && !form.controls['company_state_registration'].valid}">
                    <small class="text-danger"
                      *ngIf="form.controls['company_state_registration'].touched && !form.controls['company_state_registration'].valid">
                      Inscrição estadual inválida
                    </small>
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="text-muted">
                      Inscrição municipal
                    </label>
                    <input type="text" [mask]="helper.masks.number(14)" formControlName="company_municipal_registration" class="form-control">
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="text-muted">
                      Telefone
                    </label>
                    <input type="text" [mask]="helper.masks.landline" formControlName="company_phone" class="form-control"
                      [ngClass]="{'is-invalid': form.controls['company_phone'].touched && !form.controls['company_phone'].valid}">
                    <small class="text-danger"
                      *ngIf="form.controls['company_phone'].touched && !form.controls['company_phone'].valid">
                      Telefone inválido
                    </small>
                  </div>
                </div>

                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="text-muted">
                      Email de contato 1
                    </label>
                    <input type="email" formControlName="company_email" class="form-control"
                      [ngClass]="{'is-invalid': form.controls['company_email'].touched && !form.controls['company_email'].valid}">
                    <small class="text-danger"
                      *ngIf="form.controls['company_email'].touched && !form.controls['company_email'].valid">
                      Email inválido
                    </small>
                  </div>
                </div>

                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="text-muted">
                      Email de contato 2
                    </label>
                    <input type="email" formControlName="company_email2" class="form-control"
                      [ngClass]="{'is-invalid': form.controls['company_email2'].touched && !form.controls['company_email2'].valid}">
                    <small class="text-danger"
                      *ngIf="form.controls['company_email2'].touched && !form.controls['company_email2'].valid">
                      Email inválido
                    </small>
                  </div>
                </div>

                <div class="col-12 col-md-4" *ngIf="id">
                  <div class="form-group">
                    <label class="text-muted">
                      Email de acesso
                    </label>
                    <input readonly class="form-control" [value]="form.controls.email.value" >
                  </div>
                </div>

                <div class="col-12 pt-5">
                  <h2 class="header-title">
                    Informações de endereço
                  </h2>
                  <hr>
                </div>

                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="text-muted">
                      CEP
                    </label>
                    <input [dropSpecialCharacters]="false" [mask]="helper.masks.cep" type="text" (input)="cepComplete()"
                      [ngClass]="{'is-invalid': form.controls['address_zip_code'].touched && !form.controls['address_zip_code'].valid}"
                      class="form-control" formControlName="address_zip_code"  />
                    <small class="text-danger"
                      *ngIf="form.controls['address_zip_code'].touched && !form.controls['address_zip_code'].valid">
                      CEP inválido
                    </small>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label class="text-muted">
                      Rua
                    </label>
                    <input type="text" formControlName="address_street" class="form-control"
                      [ngClass]="{'is-invalid': form.controls['address_street'].touched && !form.controls['address_street'].valid}">
                    <small class="text-danger"
                      *ngIf="form.controls['address_street'].touched && !form.controls['address_street'].valid">
                      Rua inválida
                    </small>
                  </div>
                </div>
                <div class="col-12 col-md-2">
                  <div class="form-group">
                    <label class="text-muted">
                      Número
                    </label>
                    <input type="text" formControlName="address_number" class="form-control"
                      [ngClass]="{'is-invalid': form.controls['address_number'].touched && !form.controls['address_number'].valid}">
                    <small class="text-danger"
                      *ngIf="form.controls['address_number'].touched && !form.controls['address_number'].valid">
                      Número inválido
                    </small>
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="text-muted">
                      Bairro
                    </label>
                    <input type="text" formControlName="address_neighborhood" class="form-control"
                      [ngClass]="{'is-invalid': form.controls['address_neighborhood'].touched && !form.controls['address_neighborhood'].valid}">
                    <small class="text-danger"
                      *ngIf="form.controls['address_neighborhood'].touched && !form.controls['address_neighborhood'].valid">
                      Bairro inválido
                    </small>
                  </div>
                </div>
                <div class="col-12 col-md-5">
                  <div class="form-group">
                    <label class="text-muted">
                      Cidade
                    </label>
                    <input type="text" formControlName="address_city" class="form-control"
                      [ngClass]="{'is-invalid': form.controls['address_city'].touched && !form.controls['address_city'].valid}">
                    <small class="text-danger"
                      *ngIf="form.controls['address_city'].touched && !form.controls['address_city'].valid">
                      Cidade inválida
                    </small>
                  </div>
                </div>
                <div class="col-12 col-md-3">
                  <div class="form-group">
                    <label class="text-muted">
                      Estado
                    </label>
                    <select formControlName="address_state" class="form-control"
                      [ngClass]="{'is-invalid': form.controls['address_state'].touched && !form.controls['address_state'].valid}">
                      <option value="">Selecione</option>
                      <option *ngFor="let uf of ufs" [value]="uf.sigla">{{ uf.nome }}</option>
                    </select>
                    <small class="text-danger"
                      *ngIf="form.controls['address_state'].touched && !form.controls['address_state'].valid">Preencha
                      o estado</small>
                  </div>
                </div>

                <div class="col-12 col-md-12">
                  <div class="form-group">
                    <label class="text-muted">
                      Complemento
                    </label>
                    <input type="text" formControlName="address_complement" class="form-control">
                  </div>
                </div>


                <div *ngIf="!id" style="flex: 1">

                  <div class="col-12 pt-5">
                    <h2 class="header-title">
                      Informações de acesso
                    </h2>
                    <hr>
                  </div>

                  <div class="col-12 col-md-12">
                    <div class="form-group">
                      <label class="text-muted">
                        Email
                      </label>
                      <input type="text" formControlName="email" class="form-control"
                        [ngClass]="{'is-invalid': form.controls['email'].touched && !form.controls['email'].valid}">
                      <small class="text-danger"
                        *ngIf="form.controls['email'].touched && !form.controls['email'].valid">
                        Email inválido
                      </small>
                    </div>
                  </div>
                  <div class="col-12 col-md-12">
                    <div class="form-group">
                      <label class="text-muted">
                        Senha
                      </label>
                      <input type="password" formControlName="password" class="form-control"
                        [ngClass]="{'is-invalid': form.controls['password'].touched && !form.controls['password'].valid}">
                        <small class="text-danger"
                          *ngIf="form.controls['password'].touched && !form.controls['password'].valid">
                          A senha deve ter no mínimo 8 caracteres
                        </small>
                    </div>
                  </div>

                  <div class="col-12 col-md-12">
                    <div class="form-group">
                      <label class="text-muted">
                        Confirmar senha
                      </label>
                      <input type="password" formControlName="confirm_password" class="form-control"
                        [ngClass]="{'is-invalid': form.controls['confirm_password'].touched && form.controls['password'].value != form.controls['confirm_password'].value }">
                        <small class="text-danger"
                          *ngIf="form.controls['confirm_password'].touched && form.controls['password'].value != form.controls['confirm_password'].value ">
                          Senha inválida ou nao conferem
                        </small>
                    </div>
                  </div>
                </div>


                <div class="col-12">
                  <button type="submit" class="btn btn-primary d-block btn-block"
                    [disabled]="(form.invalid || ( form.controls['password'].value != form.controls['confirm_password'].value)) && !id ">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status"
                      aria-hidden="true"></span>
                    Salvar
                  </button>
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
