<nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-dark pt-6" id="sidebar">
  <div class="container-fluid">
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#sidebarCollapse"
      aria-controls="sidebarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- <a class="navbar-brand d-flex pb-4 pt-2" routerLink="/">
      <img src="./assets/img/logo-dark.png" class="navbar-brand-img" alt="Logo Ganho" height="40px">
    </a> -->

    <div class="navbar-user d-md-none">
      <div class="dropdown d-flex align-items-center">
        <a href="#" class="avatar avatar-sm dropdown-toggle d-flex align-items-center justify-content-center"
          role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="far fa-user profile text-muted"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <a routerLink="{{PathRoutes.Users.Detail}}/{{session.id}}" class="dropdown-item">Perfil</a>
          <hr class="dropdown-divider">
          <button (click)="logout()" class="dropdown-item">Sair</button>
        </div>
      </div>
    </div>



    <div class="collapse navbar-collapse" id="sidebarCollapse">


      <ul class="navbar-nav">


        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="{{PathRoutes.Home}}">
            <i class="fas fa-home mr-3"></i> Home
          </a>
        </li>
        <!--

                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="{{PathRoutes.Orders.List}}">
                        <i class="fas fa-shopping-cart mr-3"></i> Pedidos
                    </a>
                </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="{{PathRoutes.Users.List}}">
            <i class="fas fa-users mr-3"></i> Usuários
          </a>
        </li>
        <!-- <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="{{PathRoutes.Financial}}">
                        <i class="fas fa-hand-holding-usd mr-3" ></i> Financeiro
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="{{PathRoutes.Requests.List}}">
                        <i class="fas fa-comment-dollar mr-3"></i> Requisições
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="{{PathRoutes.Raffle}}">
                        <i class="fas fa-gift mr-3"></i> Sorteios
                    </a>
                </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="{{PathRoutes.Products.List}}">
            <i class="fas fa-wind mr-3"></i> Produtos
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="{{PathRoutes.Brands.List}}">
            <i class="fas fa-copyright mr-3"></i> Fabricantes
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="{{PathRoutes.Budgets.List}}">
            <i class="fas fa-list mr-3"></i>Orçamentos
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="{{PathRoutes.Orders.List}}">
            <i class="fas fa-file-signature mr-3"></i>Pedidos
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="{{PathRoutes.Providers.List}}">
            <i class="fas fa-truck mr-3"></i> Fornecedores
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="{{PathRoutes.Videos.List}}">
            <i class="fas fa-video mr-3"></i> Videos
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="{{PathRoutes.Help}}">
            <i class="fas fa-envelope mr-3"></i> Suporte
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="{{PathRoutes.Admins.List}}">
            <i class="fas fa-users-cog mr-3"></i> Administradores
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="{{PathRoutes.Terms.List}}">
            <i class="fas fa-user-shield mr-3"></i> Termos de uso
          </a>
        </li>
      </ul>
      <div class="mt-auto"></div>
    </div>
  </div>
</nav>
