/* You can add global styles to this file, and also import other style files */
@media (min-width: 768px){
    .main-content {
        margin-left: 250px;
    }
}
.tr-link{
    cursor: pointer;
}
.form-control[readonly]{
    background-color: #EDF2F9;
    border-color: #EDF2F9;
}
.form-control[readonly]:focus{
    border-color: #EDF2F9;
}
.card-mb-0{
    margin-bottom: 0;
}
.list td{
    font-size: 0.9rem;
}
.display-5{
    font-size: 1.5rem
}
.profile{
    font-size:1.1rem
}
.btn-del:hover{
    color: #FFFFFF;
    background-color: #E63757;
    border-color: #E63757;
}
.table th:last-child,
.list td:last-child {
    text-align: right;
}
.custom-dropzone{
  border: 1px dashed #D2DDEC;
  justify-content: center;
}
ngx-dropzone-image-preview{
  min-height: 110px !important;
  height: 110px  !important;
}
.avatar-custom:hover img{
  filter: opacity(0.5);
  transition: all ease .3s;
}
.avatar-custom img {
  transition: all ease .3s;
}
.avatar-custom{
  cursor: pointer;
}
.avatar-custom:hover .change-logo{
  opacity: 1;
  transition: all ease .3s;
}
.change-logo{
  position: absolute;
  top: 50px;
  left: 7px;
  font-size: 1rem;
  opacity: 0;
  transition: all ease 0.3s;
  text-transform: uppercase;
}

input.uppercased { 
  text-transform: uppercase;
}
