<app-navbar [breadcrumbCurrent]="'Estabelecimentos'"></app-navbar>
<app-sidebar></app-sidebar>
<div class="main-content pt-2 py-md-7">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10">
                <div class="header">
                    <div class="header-body">
                        <div class="row align-items-center">
                            <div class="col-sm">
                                <h1 class="header-title text-truncate mb-3">
                                    Estabelecimentos
                                </h1>
                            </div>
                            <div class="col-sm-auto">
                                <a class="btn btn-primary" routerLink="{{ PathRoutes.Establishments.Add }}">
                                    <span class="fe fe-plus mr-2"></span>
                                    Adicionar
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card" [ngClass]="{'card-mb-0': !loading && items.length == 0}">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                                <form>
                                    <div class="input-group input-group-flush">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fe fe-search"></i>
                                            </span>
                                        </div>
                                        <input class="list-search form-control" type="search" placeholder="Pesquisar"
                                            (input)="search($event)">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card card-inactive" *ngIf="loading">
                        <div class="card-body d-flex justify-content-center align-items-center" style="height:20rem">
                            <div class="spinner-border text-secondary" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-sm table-hover table-nowrap card-table">
                            <thead>
                                <tr>
                                    <th *ngFor="let column of columns">
                                        <a class="text-muted">{{ column }}</a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="list font-size-base">
                                <tr *ngFor="let item of items;" class="tr-link" (click)="detail(item.id)">
                                    <td width="7.5%">
                                        <div class="avatar avatar-sm avatar-4by3">
                                            <img [src]="environment.imageBaseUrl+item.image_url" class="avatar-img rounded">
                                        </div>
                                    </td>
                                    <td class="tables-admin">
                                        <span>{{ item.type | titlecase }}</span>
                                    </td>
                                    <td class="tables-name">
                                        <span>{{ item.name }}</span>
                                    </td>
                                    <td class="tables-email">
                                        <span>{{ item.email ? item.email : '---'}}</span>
                                    </td>
                                    <td *ngIf="!item?.active">
                                        <span class="badge badge-soft-danger">Desativado</span>
                                    </td>
                                    <td *ngIf="item?.active">
                                        <span class="badge badge-soft-success">Ativado</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <app-empty-state *ngIf="!loading && items.length == 0"></app-empty-state>
                <div class="row pb-4">
                    <div class="col-12 text-center">
                        <button *ngIf="btnLoading" class="btn btn-white" (click)="loadMore()"
                            [disabled]="loadingMore">Carregar mais<span
                                class="fe fe-chevrons-down ml-2"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>