<app-navbar [breadcrumbLink]="PathRoutes.Products.List" [breadcrumbLinkName]="'Produtos'"
  [breadcrumbCurrent]="id ? 'Editar' : 'Adicionar'">

</app-navbar>
<app-sidebar></app-sidebar>
<div class="main-content pt-2 py-md-7">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 col-xl-9">
        <div class="header">
          <div class="header-body">
            <div class="row align-items-center">
              <div class="col">
                <h6 class="header-pretitle">
                </h6>
                <h1 class="header-title">
                  {{id ? 'Editar produto' : 'Adicionar produto'}}
                </h1>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <form [formGroup]="form" (submit)="save()">
              <div class="row">

                <div class="col-4">
                  <p>Imagem principal</p>
                  <div class="custom-dropzone mb-4" [accept]="'.jpeg,.jpg,.png'"
                    [ngClass]="{'custom-dropzone-add': !id}" ngx-dropzone [multiple]="false"
                    (change)="onSelect($event, 'picture')">
                    <ngx-dropzone-label *ngIf="!id && !copyParams">Arraste a imagem aqui</ngx-dropzone-label>
                      <img style="max-width: 500px; max-height: 200px;" *ngIf="id && !form.controls.picture.value"
                      src="{{environment.baseStorageUrl}}{{item?.picture}}" />
                    <ngx-dropzone-image-preview *ngIf="form.controls.picture.value" ngProjectAs="ngx-dropzone-preview"
                      [file]="form.controls.picture.value" [removable]="true" (removed)="onRemove('picture')">
                    </ngx-dropzone-image-preview>
                  </div>
                </div>
                <div class="col-4">
                  <p>Segunda imagem (opcional)</p>
                  <div class="custom-dropzone mb-4" [accept]="'.jpeg,.jpg,.png'"
                    [ngClass]="{'custom-dropzone-add': !id}" ngx-dropzone [multiple]="false"
                    (change)="onSelect($event, 'picture_2')">
                    <ngx-dropzone-label *ngIf="!id && !copyParams2">Arraste a imagem aqui</ngx-dropzone-label>
                      <img style="max-width: 500px; max-height: 200px;" *ngIf="id && !form.controls.picture_2.value"
                      src="{{environment.baseStorageUrl}}{{item?.picture_2}}" />
                    <ngx-dropzone-image-preview *ngIf="form.controls.picture_2.value" ngProjectAs="ngx-dropzone-preview"
                      [file]="form.controls.picture_2.value" [removable]="true" (removed)="onRemove('picture_2')">
                    </ngx-dropzone-image-preview>
                  </div>
                </div>
                <div class="col-4">
                  <p>Terceira imagem (opcional)</p>
                  <div class="custom-dropzone mb-4" [accept]="'.jpeg,.jpg,.png'"
                    [ngClass]="{'custom-dropzone-add': !id}" ngx-dropzone [multiple]="false"
                    (change)="onSelect($event, 'picture_3')">
                    <ngx-dropzone-label *ngIf="!id && !copyParams3">Arraste a imagem aqui</ngx-dropzone-label>
                      <img style="max-width: 500px; max-height: 200px;" *ngIf="id && !form.controls.picture_3.value"
                      src="{{environment.baseStorageUrl}}{{item?.picture_3}}" />
                    <ngx-dropzone-image-preview *ngIf="form.controls.picture_3.value" ngProjectAs="ngx-dropzone-preview"
                      [file]="form.controls.picture_3.value" [removable]="true" (removed)="onRemove('picture_2')">
                    </ngx-dropzone-image-preview>
                  </div>
                </div>

                <div class="col-12 pt-5">
                  <h2 class="header-title">
                    Informações gerais
                  </h2>
                  <hr>
                </div>
                <div class="col-12 col-md-3">
                  <div class="form-group">
                    <label class="text-muted">
                      Marca
                    </label>
                    <select class="form-control" formControlName="manufacturer_id"
                      [ngClass]="{'is-invalid': form.controls['manufacturer_id'].touched && !form.controls['manufacturer_id'].valid}">
                      <option value=''>Selecione</option>
                      <option *ngFor="let item of manufacturers" [value]=item.id>{{item.title}}</option>
                    </select>
                    <small class="text-danger"
                      *ngIf="form.controls['manufacturer_id'].touched && !form.controls['manufacturer_id'].valid">
                      Marca inválida
                    </small>
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="text-muted">
                      Tipo
                    </label>
                    <select class="form-control" formControlName="category_id"
                      [ngClass]="{'is-invalid': form.controls['category_id'].touched && !form.controls['category_id'].valid}">
                      <option value=''>Selecione</option>
                      <option *ngFor="let item of categories" [value]=item.id>{{item.title}}</option>
                    </select>
                    <small class="text-danger"
                      *ngIf="form.controls['category_id'].touched && !form.controls['category_id'].valid">
                      Tipo inválido
                    </small>
                  </div>
                </div>
                <div class="col-12 col-md-5">
                  <div class="form-group">
                    <label class="text-muted">
                      Ciclo
                    </label>
                    <select class="form-control" formControlName="cycle" (change)="cycleChanged($event)"
                      [ngClass]="{'is-invalid': form.controls['cycle'].touched && !form.controls['cycle'].valid}">
                      <option value=''>Selecione</option>
                      <option *ngFor="let item of cycles" [value]=item.id>{{item.title}}</option>
                    </select>
                    <small class="text-danger" *ngIf="form.controls['cycle'].touched && !form.controls['cycle'].valid">
                      Ciclo inválido
                    </small>
                  </div>
                </div>

                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="text-muted">
                      Técnologia
                    </label>
                    <select class="form-control" formControlName="technology"
                      [ngClass]="{'is-invalid': form.controls['technology'].touched && !form.controls['technology'].valid}">
                      <option value=''>Selecione</option>
                      <option *ngFor="let item of technologies" [value]=item.id>{{item.title}}</option>
                    </select>
                    <small class="text-danger"
                      *ngIf="form.controls['technology'].touched && !form.controls['technology'].valid">
                      Tecnologia inválida
                    </small>
                  </div>
                </div>

                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="text-muted">
                      Gás
                    </label>
                    <input type="text" formControlName="gas" class="form-control"
                      [ngClass]="{'is-invalid': form.controls['gas'].touched && !form.controls['gas'].valid}">
                    <small class="text-danger" *ngIf="form.controls['gas'].touched && !form.controls['gas'].valid">
                      Gás inválido
                    </small>
                  </div>
                </div>

                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="text-muted">
                      Tensão
                    </label>
                    <select class="form-control" formControlName="voltage"
                      [ngClass]="{'is-invalid': form.controls['voltage'].touched && !form.controls['voltage'].valid}">
                      <option value=''>Selecione</option>
                      <option *ngFor="let item of voltages" [value]=item.id>{{item.title}}</option>
                    </select>
                    <small class="text-danger"
                      *ngIf="form.controls['voltage'].touched && !form.controls['voltage'].valid">
                      Tensão inválida
                    </small>
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="text-muted">
                      Classificação energética
                    </label>
                    <select class="form-control" formControlName="energy_rating"
                      [ngClass]="{'is-invalid': form.controls['energy_rating'].touched && !form.controls['energy_rating'].valid}">
                      <option value=''>Selecione</option>
                      <option *ngFor="let item of energies" [value]=item>{{item}}</option>
                    </select>
                    <small class="text-danger"
                      *ngIf="form.controls['energy_rating'].touched && !form.controls['energy_rating'].valid">
                      Classificação Energética Inválida
                    </small>
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="text-muted">
                      Capacidade de refrigeração (BTU/h)
                    </label>
                    <input type="text" [mask]="helper.masks.number(5)" formControlName="cooling_capacity"
                      class="form-control"
                      [ngClass]="{'is-invalid': form.controls['cooling_capacity'].touched && !form.controls['cooling_capacity'].valid}">
                    <small class="text-danger"
                      *ngIf="form.controls['cooling_capacity'].touched && !form.controls['cooling_capacity'].valid">
                      Capacidade de refrigeração inválida
                    </small>
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="text-muted">
                      Capacidade de aquecimento (BTU/h)
                    </label>
                    <input type="text" [mask]="helper.masks.number(5)" formControlName="heating_capacity"
                      class="form-control">
                      <small class="text-danger"
                      *ngIf="form.controls['heating_capacity'].touched && !form.controls['heating_capacity'].valid">
                      Capacidade de aquecimento inválida
                    </small>
                  </div>
                </div>


                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="text-muted">
                      Potência interna (W)
                    </label>
                    <input type="text" [mask]="helper.masks.number(4)" formControlName="input_power"
                      class="form-control"
                      [ngClass]="{'is-invalid': form.controls['input_power'].touched && !form.controls['input_power'].valid}">
                    <small class="text-danger"
                      *ngIf="form.controls['input_power'].touched && !form.controls['input_power'].valid">
                      Potência inválida
                    </small>
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="text-muted">
                      EER (kW/kW)
                    </label>
                    <input type="text" currencyMask [options]="helper.masks.decimal" formControlName="eer"
                      class="form-control"
                      [ngClass]="{'is-invalid': form.controls['eer'].touched && !form.controls['eer'].valid}">
                    <small class="text-danger"
                      *ngIf="form.controls['eer'].touched && !form.controls['eer'].valid">
                      EER inválido
                    </small>
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="text-muted">
                      COP (kW/kW)
                    </label>
                    <input type="text" currencyMask [options]="helper.masks.decimal" formControlName="cop"
                      class="form-control"
                      [ngClass]="{'is-invalid': form.controls['cop'].touched && !form.controls['cop'].valid}">
                    <small class="text-danger"
                      *ngIf="form.controls['cop'].touched && !form.controls['cop'].valid">
                      COP inválido
                    </small>
                  </div>
                </div>


                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="text-muted">
                      Tubulação líquido (mm ou polegada)
                    </label>
                    <input type="text" formControlName="liquid_piping" class="form-control"
                      [ngClass]="{'is-invalid': form.controls['liquid_piping'].touched && !form.controls['liquid_piping'].valid}">
                    <small class="text-danger"
                      *ngIf="form.controls['liquid_piping'].touched && !form.controls['liquid_piping'].valid">
                      Tubulação líquido inválida
                    </small>
                  </div>
                </div>


                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="text-muted">
                      Tubulação gás (mm ou polegada)
                    </label>
                    <input type="text"  formControlName="gas_pipeline" class="form-control"
                      [ngClass]="{'is-invalid': form.controls['gas_pipeline'].touched && !form.controls['gas_pipeline'].valid}">
                    <small class="text-danger"
                      *ngIf="form.controls['gas_pipeline'].touched && !form.controls['gas_pipeline'].valid">
                      Tubulação gás inválida
                    </small>
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="text-muted">
                      Comprimento máx. tubulação (mm)
                    </label>
                    <input type="text" [mask]="helper.masks.number(3)" formControlName="maximum_pipe_length"
                      class="form-control"
                      [ngClass]="{'is-invalid': form.controls['maximum_pipe_length'].touched && !form.controls['maximum_pipe_length'].valid}">
                    <small class="text-danger"
                      *ngIf="form.controls['maximum_pipe_length'].touched && !form.controls['maximum_pipe_length'].valid">
                      Comprimento inválido
                    </small>
                  </div>
                </div>

                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="text-muted">
                      Ruído interno máx. db(A)
                    </label>
                    <input type="text" [mask]="helper.masks.number(3)" formControlName="maximum_internal_noise"
                      class="form-control"
                      [ngClass]="{'is-invalid': form.controls['maximum_internal_noise'].touched && !form.controls['maximum_internal_noise'].valid}">
                    <small class="text-danger"
                      *ngIf="form.controls['maximum_internal_noise'].touched && !form.controls['maximum_internal_noise'].valid">
                      Ruído inválido
                    </small>
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="text-muted">
                      Ruído interno min. db(A)
                    </label>
                    <input type="text" [mask]="helper.masks.number(3)" formControlName="minimum_internal_noise"
                      class="form-control"
                      [ngClass]="{'is-invalid': form.controls['minimum_internal_noise'].touched && !form.controls['minimum_internal_noise'].valid}">
                    <small class="text-danger"
                      *ngIf="form.controls['minimum_internal_noise'].touched && !form.controls['minimum_internal_noise'].valid">
                      Ruído inválido
                    </small>
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="text-muted">
                      Ruído externo db(A)
                    </label>
                    <input type="text" [mask]="helper.masks.number(3)" formControlName="external_noise"
                      class="form-control"
                      [ngClass]="{'is-invalid': form.controls['external_noise'].touched && !form.controls['external_noise'].valid}">
                    <small class="text-danger"
                      *ngIf="form.controls['external_noise'].touched && !form.controls['external_noise'].valid">
                      Ruído inválido
                    </small>
                  </div>
                </div>
                <div class="col-12 col-md-3">
                  <div class="form-group">
                    <label class="text-muted">
                      Desnível máx. (m)
                    </label>
                    <input type="text" [mask]="helper.masks.number(3)" formControlName="maximum_height_difference"
                      class="form-control"
                      [ngClass]="{'is-invalid': form.controls['maximum_height_difference'].touched && !form.controls['maximum_height_difference'].valid}">
                    <small class="text-danger"
                      *ngIf="form.controls['maximum_height_difference'].touched && !form.controls['maximum_height_difference'].valid">
                      Desnível inválido
                    </small>
                  </div>
                </div>
                <div class="col-12 col-md-3">
                  <div class="form-group">
                    <label class="text-muted">
                      Sensor de presença
                    </label>
                    <select class="form-control" formControlName="presence_sensor">
                      <option [value]="'Não'">Não</option>
                      <option [value]="'Sim'">Sim</option>
                    </select>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label class="text-muted">
                      Compressor
                    </label>
                    <input type="text" formControlName="compressor" class="form-control" [readonly]=id
                    [ngClass]="{'is-invalid': form.controls['compressor'].touched && !form.controls['compressor'].valid}">
                  <small class="text-danger"
                    *ngIf="form.controls['compressor'].touched && !form.controls['compressor'].valid">
                    Compressor inválido
                  </small>
                    <!-- <select class="form-control" formControlName="compressor">
                      <option value=''>Não possui</option>
                      <option *ngFor="let item of compressor" [value]=item>{{item}}</option>
                    </select> -->
                  </div>
                </div>


                <div class="col-12 pt-5">
                  <h2 class="header-title">
                    Informações da evaporadora
                  </h2>
                  <hr>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="text-muted">
                      Código
                    </label>
                    <input type="text" formControlName="evaporator_code" class="form-control" [readonly]=id
                      [ngClass]="{'is-invalid': form.controls['evaporator_code'].touched && !form.controls['evaporator_code'].valid}">
                    <small class="text-danger"
                      *ngIf="form.controls['evaporator_code'].touched && !form.controls['evaporator_code'].valid">
                      Código inválido
                    </small>
                  </div>
                </div>
                <div class="col-12 col-md-5">
                  <div class="form-group">
                    <label class="text-muted">
                      Motor ventilador
                    </label>
                    <select class="form-control" formControlName="evaporator_fan_motor"
                    [ngClass]="{'is-invalid': form.controls['evaporator_fan_motor'].touched && !form.controls['evaporator_fan_motor'].valid}"
                    >
                      <option value=''>Selecione</option>
                      <option *ngFor="let item of motors" [value]=item>{{item}}</option>
                    </select>
                    <small class="text-danger"
                      *ngIf="form.controls['evaporator_fan_motor'].touched && !form.controls['evaporator_fan_motor'].valid">
                      Motor inválido
                    </small>
                  </div>
                </div>
                <div class="col-12 col-md-3">
                  <div class="form-group">
                    <label class="text-muted">
                      Peso líquido (Kg)
                    </label>
                    <input type="text" currencyMask [options]="helper.masks.decimal"
                      formControlName="evaporator_net_weight" class="form-control"
                      [ngClass]="{'is-invalid': form.controls['evaporator_net_weight'].touched && !form.controls['evaporator_net_weight'].valid}"
                      >
                    <small class="text-danger"
                      *ngIf="form.controls['evaporator_net_weight'].touched && !form.controls['evaporator_net_weight'].valid">
                      Peso inválido
                    </small>
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="text-muted">
                      Largura (mm)
                    </label>
                    <input type="text" [mask]="helper.masks.number(4)" formControlName="evaporator_width"
                      class="form-control"
                      [ngClass]="{'is-invalid': form.controls['evaporator_width'].touched && !form.controls['evaporator_width'].valid}"
                      >
                    <small class="text-danger"
                      *ngIf="form.controls['evaporator_width'].touched && !form.controls['evaporator_width'].valid">
                      Largura inválida
                    </small>

                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="text-muted">
                      Profundidade (mm)
                    </label>
                    <input type="text" [mask]="helper.masks.number(4)" formControlName="evaporator_depth"
                      class="form-control"
                      [ngClass]="{'is-invalid': form.controls['evaporator_depth'].touched && !form.controls['evaporator_depth'].valid}"
                      >
                    <small class="text-danger"
                      *ngIf="form.controls['evaporator_depth'].touched && !form.controls['evaporator_depth'].valid">
                      Profundidade inválida
                    </small>
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="text-muted">
                      Altura (mm)
                    </label>
                    <input type="text" [mask]="helper.masks.number(4)" formControlName="evaporator_height"
                      class="form-control"
                      [ngClass]="{'is-invalid': form.controls['evaporator_height'].touched && !form.controls['evaporator_height'].valid}"
                      >
                    <small class="text-danger"
                      *ngIf="form.controls['evaporator_height'].touched && !form.controls['evaporator_height'].valid">
                      Altura inválida
                    </small>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <label class="text-muted">
                      Vazão de ar (m³/h)
                    </label>
                    <input type="text" [mask]="helper.masks.number(4)" formControlName="internal_air_flow"
                      class="form-control"
                      [ngClass]="{'is-invalid': form.controls['internal_air_flow'].touched && !form.controls['internal_air_flow'].valid}">
                    <small class="text-danger"
                      *ngIf="form.controls['internal_air_flow'].touched && !form.controls['internal_air_flow'].valid">
                      Vazão interna inválida
                    </small>
                  </div>
                </div>



                <div class="col-12 pt-5">
                  <h2 class="header-title">
                    Informações da condensadora
                  </h2>
                  <hr>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="text-muted">
                      Código
                    </label>
                    <input type="text" formControlName="condenser_code" class="form-control" [readonly]=id
                    [ngClass]="{'is-invalid': form.controls['condenser_code'].touched && !form.controls['condenser_code'].valid}"
                    >
                    <small class="text-danger"

                      *ngIf="form.controls['condenser_code'].touched && !form.controls['condenser_code'].valid">
                      Código inválida
                    </small>
                  </div>
                </div>
                <div class="col-12 col-md-5">
                  <div class="form-group">
                    <label class="text-muted">
                      Motor ventilador
                    </label>
                    <select class="form-control" formControlName="condenser_fan_motor"
                    [ngClass]="{'is-invalid': form.controls['condenser_fan_motor'].touched && !form.controls['condenser_fan_motor'].valid}"
                    >
                      <option value=''>Selecione</option>
                      <option *ngFor="let item of motors" [value]=item>{{item}}</option>
                    </select>
                    <small class="text-danger"
                      *ngIf="form.controls['condenser_fan_motor'].touched && !form.controls['condenser_fan_motor'].valid">
                      Motor inválido
                    </small>
                  </div>
                </div>
                <div class="col-12 col-md-3">
                  <div class="form-group">
                    <label class="text-muted">
                      Peso líquido (Kg)
                    </label>
                    <input type="text" currencyMask [options]="helper.masks.decimal"
                    [ngClass]="{'is-invalid': form.controls['condensing_net_weight'].touched && !form.controls['condensing_net_weight'].valid}"
                      formControlName="condensing_net_weight" class="form-control">
                    <small class="text-danger"
                      *ngIf="form.controls['condensing_net_weight'].touched && !form.controls['condensing_net_weight'].valid">
                      Peso inválido
                    </small>
                  </div>
                </div>


                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="text-muted">
                      Largura (mm)
                    </label>
                    <input type="text" [mask]="helper.masks.number(4)" formControlName="condensing_width"
                    [ngClass]="{'is-invalid': form.controls['condensing_width'].touched && !form.controls['condensing_width'].valid}"
                      class="form-control">
                    <small class="text-danger"
                      *ngIf="form.controls['condensing_width'].touched && !form.controls['condensing_width'].valid">
                      Largura inválida
                    </small>
                  </div>
                </div>

                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="text-muted">
                      Profundidade (mm)
                    </label>
                    <input type="text" [mask]="helper.masks.number(4)" formControlName="condensing_depth"
                    [ngClass]="{'is-invalid': form.controls['condensing_depth'].touched && !form.controls['condensing_depth'].valid}"
                      class="form-control">
                    <small class="text-danger"
                      *ngIf="form.controls['condensing_depth'].touched && !form.controls['condensing_depth'].valid">
                      Profundidade inválida
                    </small>
                  </div>
                </div>

                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <label class="text-muted">
                      Altura (mm)
                    </label>
                    <input type="text" [mask]="helper.masks.number(4)" formControlName="condensing_height"
                    [ngClass]="{'is-invalid': form.controls['condensing_height'].touched && !form.controls['condensing_height'].valid}"
                      class="form-control">
                    <small class="text-danger"
                      *ngIf="form.controls['condensing_height'].touched && !form.controls['condensing_height'].valid">
                      Altura inválida
                    </small>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <label class="text-muted">
                      Vazão de ar (m³/h)
                    </label>
                    <input type="text" [mask]="helper.masks.number(4)" formControlName="external_flow"
                      class="form-control"
                      [ngClass]="{'is-invalid': form.controls['external_flow'].touched && !form.controls['external_flow'].valid}">
                    <small class="text-danger"
                      *ngIf="form.controls['external_flow'].touched && !form.controls['external_flow'].valid">
                      Vazão externa inválida
                    </small>
                  </div>
                </div>
                <div class="col-12 text-center mb-4">
                  <span class="text-danger">{{getErrorMessage()}}</span>
                </div>
                <div class="col-12">
                  <button type="submit" class="btn btn-primary d-block btn-block" [disabled]="form.invalid">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status"
                      aria-hidden="true"></span>
                    Salvar
                  </button>
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
